[2016-09-24 20:10] grabbou opened #1 "Android support"
Open source internal Android code along with the tweaks that were applied in the open source version.

ETA: this week

[2016-09-24 20:11] grabbou opened #2 "Implement additional `FBNativeAdManager` API"
For now it's just a proxy to the native manager in order to handle loaded events. Expose other properties, like controlling cache policy or explicitly calling `loadAds` so that the full control is handed over to Javascript.

[2016-09-25 20:52] grabbou opened #4 "Make `placementID` ad specific"
At least Interstitial and Banner ads. If yes - make a nice interface for loading native ads

[2016-09-25 21:45] grabbou commented on #4
Implemented.

[2016-09-25 21:45] #4 closed

[2016-09-25 21:45] grabbou opened #5 "Handle delegate events"
Since they are fbAdsManager unspecific, loop over the entire list of all adManagers and return a map of its states. That way, we know which of them really became valid.

[2016-09-26 17:11] #5 closed

[2016-09-26 17:18] #2 closed

[2016-09-26 17:46] grabbou commented on #1
Also, update Android that's already been pushed to match the new interface

[2016-09-26 19:59] #1 closed

[2016-09-26 20:36] grabbou opened #6 "Implement Interstitial API"

[2016-09-26 20:36] grabbou opened #7 "Implement Banner Ads"

[2016-10-29 20:36] stanlogin opened #16 "Got "undefined is not an object.." error"
react native 0.36
`import React, { Component } from 'react';
import {
  AppRegistry,
  StyleSheet,
  Text,
  View
} from 'react-native';

import { NativeAdsManager } from 'react-native-fbads';
const adsManager = new NativeAdsManager(MY_PLACE_ID, 1);
...
`
<img width="320" alt="screen shot 2016-10-30 at 4 30 53 am" src="https://cloud.githubusercontent.com/assets/376822/19832603/2603e7f4-9e5a-11e6-9

[2016-11-01 08:49] grabbou commented on #16
Hey, have you linked native modules correctly and rerun the app? Looks like it's missing and causing the above error .

[2016-11-01 09:04] stanlogin commented on #16
It already works, and yes it is linking problem. Thank you for your reply.

[2016-11-01 09:04] #16 closed

[2016-11-05 16:46] huynhloc opened #17 "Native ads on android is not clickable"
I have run example on android, native ads has shown but when I touch it have no reaction.

[2016-11-15 19:07] stanlogin commented on #17
Same here. ios works. android ads showing but not clickable.

[2016-11-19 17:20] stanlogin commented on #17
@grabbou , have you tested ad in Android and it works? I want to know is it a installation problem in my side. Thank you.

[2016-11-23 19:39] macuna opened #18 "undefined is not an object (evaluating '_reactNativeFbads.InterstitialAdManager.showAd')"
Hi, I just made a simple test in order to see how the interstitial works but I got this error.

<img width="280" alt="screen shot 2016-11-23 at 4 36 12 pm" src="https://cloud.githubusercontent.com/assets/63238/20576079/fc074e56-b19a-11e6-92c6-8c80e783338d.png">

I ran this

react-native install react-native-fbads

and my code is this

import { InterstitialAdManager } from 'react-native-fbads'
Inte

[2016-11-24 10:38] stanlogin commented on #18
In my own experience, "react-native install react-native-fbads" is not enough, I have to manually link the module for both ios and android.

[2016-11-24 11:35] macuna commented on #18
I don't quite sure about how to manually linking the module and I don't see anything in the docs of this project.

Can someone tell me how?

Thanks

[2016-11-24 16:05] satya164 commented on #18
`react-native link react-native-fbads`

[2016-11-24 18:02] macuna commented on #18
Thanks!

[2016-11-24 18:02] #18 closed

[2016-11-25 20:36] macuna commented on #17
I have the same problem, the native banner isn't clickable on Android

Did you find the problem @grabbou ?

Thanks

[2016-11-29 19:41] eranbes opened #19 "Android install does not work"
Hi, the supplied method of install (`react-native install ...`) does not work.
Please supply manual instructions for installing in Android.

Thanks!

[2016-11-30 22:34] #19 closed

[2016-12-02 17:32] eranbes commented on #17
Common guys. Lets make Native Ads great again :-)

[2016-12-02 18:08] macuna commented on #17
Any news here ?

[2016-12-02 18:33] eranbes commented on #17
Had a chat with @grabbou. He said they are looking into that.

[2016-12-09 11:16] danny-chen commented on #17
it works for me to handle onInterceptTouchEvent() and onTouchEvent() in NativeAdView.java

sample code:

    private int CLICK_ACTION_THRESHHOLD = 200;
    private float startX;
    private float startY;

    @Override
    public boolean onInterceptTouchEvent(MotionEvent ev) {
        return true;
    }

    @Override
    public boolean onTouchEvent(MotionEvent ev) {
        switch (ev.getActionMa

[2016-12-11 14:12] klyment opened #20 "Unable to show Ads"
I tried to display native ads and interstitial ads, both of them got the similar error:
undefined is not an object ( evaluating CTKNativeAdManager.init)
undefined is not an object ( evaluating _reactNativeFbads.InterstitialAdManager.showAd)

[2016-12-11 21:22] #6 closed

[2016-12-11 21:23] grabbou commented on #20
Please remember to run `react-native link` - you are missing the native modules.

[2016-12-11 21:23] #20 closed

[2016-12-11 21:27] grabbou commented on #7
There's an open pull request for Android part, no-one is working on the iOS part yet.

[2016-12-11 23:28] grabbou commented on #17
This is now fixed, thanks for suggested solutions. We will work on a better workaround later.

[2016-12-11 23:28] #17 closed

[2016-12-13 00:44] grabbou opened #22 "Rename to @callstack/react-native-fbads"
Provide deprecation warnings for current users when we release next version with Banner Ads.

[2016-12-13 09:47] eranbes commented on #17
I still cannot get it to work.
I see the changes in the code but there is no click event. Where is performClick() defined?

[2016-12-15 16:14] klyment opened #23 "No response after adding backgroudColor properties on Native Ads"
For any clickable component, if backgroudColor or border property is added, it won't jump to Google Play after clicking it .
For instance
      <View style={styles.ctaButton}>
          <Text style={styles.ctaText}>{nativeAd.callToActionText}</Text>
      </View>
If ctaButton has backgroundColor, it won't response to clicking

[2016-12-20 08:05] Yukaii opened #24 "E_FAILED_TO_LOAD: FBAdErrorDetailKey No fill"
### Environment

* XCode 8.2
* React Native 0.35
* react-native-fbads 3.1.1

### Problem

I setup sdk and build successfully, but get this runtime error.

I print it out as the snippet below:

[code]

![screen shot 2016-12-20 at 3 54 04 pm](https://cloud.githubusercontent.com/assets/4230968/21342445/ec936c38-c6cc-11e6-8355-f34bc4fc4fbb.png)

I googled "No fill FB Audience SDK", and the results tau

[2016-12-21 02:31] Yukaii commented on #24
![screen shot 2016-12-21 at 10 30 14 am](https://cloud.githubusercontent.com/assets/4230968/21375441/81edef38-c768-11e6-99db-beb71c1e9150.png)

After the approval of "Placements Review", my ads show up 😂

I would close this issue.

[2016-12-21 02:31] #24 closed

[2016-12-21 06:25] congnguyen91 opened #25 "[Suggest] Add Search Path Framework"
Please add search path framework in build setting for IOS like react-native-fbsdk for implementing FBSDK:
$(PROJECT_DIR)/../../../ios/Frameworks

[2016-12-30 09:19] Yukaii commented on #17
I notice that in https://github.com/callstack-io/react-native-fbads/issues/17#issuecomment-265990892 @danny-chen wrote:

[code]

but #21 missed it.

I got native ad click working until I add back these lines manually.

[2016-12-30 21:21] satya164 commented on #17
Can you send a PR for that?

[2016-12-31 02:21] Yukaii commented on #17
@satya164 see #26 😄

[2017-01-06 05:10] sangotaro commented on #25
+1

[2017-01-07 03:10] dannyyaou commented on #20
@grabbou Thanks for the module first, but actually rnpm really doesn't link in android version

[2017-01-11 19:59] jdmunro opened #27 "[Request] Support for AdChoices view"
According to the [Design Guidelines](https://developers.facebook.com/docs/audience-network/guidelines/native-ads#native) from Facebook it is best practice to have the AdChoices icon present in your native ad. It also has some behavior when clicked.

![AdChoices](https://scontent-lhr3-1.xx.fbcdn.net/t39.2178-6/11057084_1571866509745372_260474688_n.png)

There is already a native view [available in

[2017-01-23 04:42] hoangdoan267 opened #29 "Android was not automatically link"
I use `react-native link` for our library but it just automatically linked to my ios project, on Android version, I had to manually link.
But it throw an error:  "io.callstack.react.fbads.FBAdsPackage" does not exist.

[2017-01-23 17:03] grabbou commented on #7
Partially done, I am shipping iOS now.

[2017-01-23 17:03] #7 closed

[2017-01-23 17:04] grabbou commented on #29
Does it link other projects to your Android? Please double check as it's likely an error on your side. Happy to provide you some tips.

I assume that after manual linking everything went well, right?

[2017-01-23 17:04] #29 closed

[2017-01-23 17:09] hoangdoan267 commented on #29
I think the problem was about your newest update, my colleague had the same issue, too. Linking manually made everything ok but that's a waste of time.

[2017-01-24 07:52] hoangdoan267 commented on #29
@grabbou I think manually linked like your example is not working

[2017-01-24 09:44] grabbou commented on #27
Ah, probably just skipped during the initial setup. Will check that one out, probably we should be able to provide a native component you can place wherever you want (with some predefined locations, like top right corner)

[2017-01-24 10:02] grabbou opened #32 "Update to latest React Native"
Update the iOS build part, what we should do is we should use `<React/...>` imports everywhere. We should not export any headers outside of this package as we are not making them reusable.

Otherwise, export under `<RCTFBAds/...>`

[2017-01-24 10:03] grabbou commented on #32
This may turn out to be helpful https://github.com/callstack-io/react-native-fbads/pull/28

[2017-01-24 10:03] grabbou commented on #22
We will do it with the next release

[2017-01-25 03:04] rskull opened #33 "onError method for NativeAdsManager"
onError method for NativeAdsManager. Is there plans to be implemented?

https://github.com/callstack-io/react-native-fbads/blob/master/src/ios/CTKNativeAdManager.m#L78

[2017-02-04 02:45] mattmcginnis opened #34 "Error: No fill"
Based on another issue submitted (https://github.com/callstack-io/react-native-fbads/issues/24), this seems to be because an ad request hasn't been sent.  I'm assuming this is only because I haven't sent a request with a real device and I'm just testing.  According to the documentation, "When you run app on simulator,  it automatically gets added. [as a test device]"  It seems like it's not gettin

[2017-02-07 14:20] 7kfpun opened #35 "Error on adViewDidClick when clicking on Banner Ad"
[code]
<img width="848" alt="screen shot 2017-02-07 at 10 17 52 pm" src="https://cloud.githubusercontent.com/assets/2672802/22694787/799731d2-ed83-11e6-8781-a7d304abd838.png">

[2017-02-07 14:27] 7kfpun opened #36 "Exception 'Only one `showAd` can be called at once' was throw"
Could not catch the error while calling twice.
[code]

![simulator screen shot 7 feb 2017 10 23 45 pm](https://cloud.githubusercontent.com/assets/2672802/22695002/32a8e210-ed84-11e6-934e-9b91ea88f149.png)

[2017-02-07 16:52] yolosaucisson opened #37 "Module doesn't link for Android"
Hi,

I have React-Native v41.
I downloaded the react-native-fbads with yarn and after that I did "react-native link".
It showed me that the iOS module was link but nothing about the Android module.

How I have to do? Have I to install other things than this to make it working?

When I try to use it on my code, I can't use ith undefined with this line of code :
import { NativeAdsManager } from 'rea

[2017-02-07 17:23] yolosaucisson commented on #37
When I try to use it on my code, I can't use ith undefined with this line of code :
import { NativeAdsManager } from 'react-native-fbads';
const adsManager = new NativeAdsManager('18025212...');

[2017-02-08 11:49] grabbou commented on #37
Hey,

If for some reason `react-native link` failed for you, please default to manual linking process as described in the official React documentation.

[2017-02-08 11:49] grabbou commented on #32
Updated and released few days ago

[2017-02-08 11:49] #32 closed

[2017-02-08 11:50] grabbou commented on #36
Interesting, thanks for reporting, will look into it today

[2017-02-08 12:57] yolosaucisson commented on #37
It failes for all people... with recent version so...

[2017-02-08 14:36] grabbou commented on #37
You are right that there were already two reports regarding that matter, I'll reopen for now and debug later. If anyone wants to tackle it in the meantime, please do!

[2017-02-09 10:59] grabbou commented on #33
Yup, as long as we know how to handle such case. Do you have any ideas how typical reference implementation could look like?

[2017-02-09 10:59] grabbou commented on #27
@jakubsta was working on that feature recently, maybe he will be able to provide more input here.

[2017-02-09 14:45] yolosaucisson commented on #37
If you want I can help to be better in development. It could be an good point as a developer to upgrade a repo. But I don't really know for the moment how to do :/

[2017-02-15 20:28] commit-master opened #38 "Android install fails"
Hey,

I've followed your install steps AND fbsdk's one for Android (I have no issue with iOS). But each time I try to run it (either on device or emulator), I get the following error:

[code]

Do you guys have any idea why and how I can fix this ?
Thanks !

[2017-02-16 10:03] jakubsta commented on #36
@7kfpun @grabbou I've checked and indeed this could happen when you click button really fast. I've just created PR which resolve this issue.

[2017-02-20 07:33] #34 closed

[2017-02-20 11:44] #36 closed

[2017-02-24 02:05] sfratini commented on #37
I found the issue. It seems the problem is that the react-native-fbads folder inside the node_module has one extra folder src which makes react-native miss the gradle file.
I moved all the files inside the src folder (the one that has the android, ios folders) to the main one (react-native-fbads) and react-native link started working.

Now I am finding another issue at compiling but I am not sure

[2017-02-24 02:06] sfratini commented on #38
#37 Seems to be the same issue and I posted the solution there.

[2017-02-24 05:09] sfratini commented on #37
Alright, this is what I tried:

1) Update settings.gradle of your project and add this:
[code]

Note: At this point you probably need a Gradle Sync, Clean and Build for the project to come up as module.

2) Modify the build.gradle file and in the dependencies, add this:
`compile project(':react-native-fbads')`

3) Modify the MainApplication.java and add these lines:
[code]

Now it compiles and bui

[2017-02-27 03:33] LutherDiaz commented on #37
@sfratini Try
[code]

Not sure if this is a proper fix though.

[2017-02-27 09:37] booboothefool opened #44 "Apple Mach-O Linker error building with FBAudienceNetwork.framework"
Using React Native 0.37,

I am getting this error when I try to build with FBAudienceNetwork.framework
[code]

I was able to get the other frameworks to work though.

[2017-02-27 16:00] sfratini commented on #37
@LutherDiaz Yep, actually that is how I solved it. I was also getting the Dex too many methods error but I solved it with Proguard in debug.

[2017-02-28 05:49] booboothefool commented on #44
https://developers.facebook.com/docs/audience-network/ios

[2017-02-28 05:49] #44 closed

[2017-02-28 06:14] booboothefool opened #45 "Can't seem to get test ads to show up in iOS simulator"
I used a placementId from the FAN dashboard and am running on a simulator, I'm getting nothing.

[code]

Am using React Native 0.37 with the latest version of this library 4.0.0. When I try using 3.1.1, I get the error: "Element type is invalid: expected a string (for built-in components) or a class/function for composite components) but got: undefined

What am I missing?

[2017-02-28 06:28] booboothefool commented on #45
Oh what... 3.1.1 has no BannerView, and 4.0.0 isn't compatible with RN < 0.40?

[2017-02-28 06:56] booboothefool commented on #45
On Android, I actually get an error that undefined is not an object (evaluating 'CTKNativeAdManager.init'). I ran `react-native link react-native-fbads`.

[2017-02-28 19:15] booboothefool commented on #45
Got something to show up on my Android emulator. Just wasn't showing up on a real device for some reason. Still having issues with iOS. Adding FBAudienceNetwork.framework won't even build, so I tried it via CocoaPods.

[2017-02-28 23:51] booboothefool commented on #45
I enabled some logging for iOS and am getting this:
[code]
Is it cause it doesn't realize it's a test device because the test device is not being properly added?

[2017-03-01 00:03] booboothefool commented on #45
I got it!!!

This was crazy and way too difficult to set up. This was not documented anywhere. I had to read all over StackOverflow until I found this: http://stackoverflow.com/questions/33909430/how-to-test-facebook-audience-network-ads-over-testflight

I then added the snippets to my AppDelegate.m:
[code]
[code]

and voila!

![screen shot 2017-02-28 at 7 02 13 pm](https://cloud.githubusercontent

[2017-03-01 08:14] grabbou commented on #45
Great you managed to sort it out! Yes, we have been missing `addTestDevice` in both docs and APIs and recently figured out the reason it wasn't working.

Feel free to submit a PR fixing docs, I'll accept straight away!

[2017-03-01 08:14] #45 closed

[2017-03-01 08:37] booboothefool commented on #45
@grabbou Cool! I saw your new release. So am I correct in that version > 4.0.0+ only works with React Native > 0.40? So if I'm stuck with React native 0.37, I need to stick with 3.1.1 of this library, where I just have to manually add the test device for now?

[2017-03-01 11:23] grabbou commented on #45
Well, in that case I think you can keep it inside `AppDelegate.m` and mark as `to be removed when upgraded`.

[2017-03-01 19:03] booboothefool commented on #45
@grabbou Cool, cool.

Well my Android app is all set up and good to go. I am able to show test ads, and when I run it in production, I am able to show live ads. Clicked on one and Android app was just approved for Facebook Audience Network.

On iOS, I was able to show the test ad with `[FBAdSettings addTestDevice:testDeviceKey];` in `AppDelegate.m`, however I'm not seeing a real ad after I remove

[2017-03-02 19:48] booboothefool commented on #45
@grabbou I set my app to public in Facebook Developer Dashboard, waited a day, and ads suddenly started showing up live on iOS (not even on the app store yet).

Everything is hooked up successfully, ready to rock and roll!

[2017-03-04 02:27] JUnderwood1991 opened #46 "module FBAudienceNetwork not found"
Entirely frustrating issue. The project is linked. The frameworks are in the frameworks folder. Framework search path is updated to reflect the location of the frameworks, yet rn-fbads "CTKInterstitialAdManager.m' fails to build due to FBAudienceNetwork not found.

![screen shot 2017-03-03 at 9 26 15 pm](https://cloud.githubusercontent.com/assets/8592655/23575247/279f7d16-0058-11e7-9b43-fb4ab8f70e

[2017-03-04 02:28] JUnderwood1991 commented on #46
The iOS folder also has all the frameworks in it.

[2017-03-04 02:31] JUnderwood1991 commented on #46
Closing. rn-fbads really does want it to be ~/Documents/FacebookSDK...

[2017-03-04 02:31] #46 closed

[2017-03-04 02:54] JUnderwood1991 opened #47 "This method must be called on the main thread was thrown while invoking showAd"
Trying to load an interstitial ad, on touchable opacity press. Displays the error shown in the issue title.

Exception 'This method must be called on the main thread' was thrown while invoking showAd on target CTKInterstitialAdManager with params ( "PLACEMENTID", 30, 31 )

[code]

[code]

[2017-03-06 04:31] booboothefool opened #48 "Crashing for me on Android 4.3 (works on more recent versions)"
[code]

Crashes from adding this code:
[code]

[code]

Working great on Android 4.4+ and iOS, however.

[2017-03-07 14:39] macuna commented on #47
I have the same problem, any idea?

[2017-03-07 14:40] JUnderwood1991 commented on #47
Nope.

Let's hope the author takes the time to fix his issue.

On Tue, Mar 7, 2017 at 9:39 AM, Martín Acuña Lledó <notifications@github.com

[2017-03-11 03:08] 7kfpun commented on #47
Happen on Facebook SDK 4.20.0
(for quick fix, use the old 4.19.0 version)

[2017-03-11 16:22] JUnderwood1991 commented on #35
Having this issue too, I'm guessing the Author doesn't care

[2017-03-17 04:10] booboothefool commented on #23
@klyment Good catch. I noticed this with some other things too like `zIndex`. Also if you nested a view e.g.

doesn't work
[code]

works
[code]

[2017-03-17 04:13] booboothefool opened #49 "How to check if a native ad was not filled (to show another ad)?"
I tried checking the `nativeAd` but it doesn't work:

[code]

[2017-03-17 04:45] booboothefool commented on #49
Turns out the proper way to do this would be something like:

[code]

Because my first attempt was already wrapped by `withNativeAd` which will return null if there's no ad.

[2017-03-17 05:34] booboothefool commented on #49
Nvm that doesn't actually work.

Also just tried this:
[code]

doesn't work either...

[2017-03-17 05:59] booboothefool commented on #49
This is what really needs to be checked: https://github.com/callstack-io/react-native-fbads/blob/master/src/NativeAdsManager.js#L29

`adsManager` `isValid`

So this works:
[code]

[2017-03-17 05:59] #49 closed

[2017-03-21 10:21] VinAppFun commented on #47
I try use the old 4.19.0 version but same error?

[2017-03-21 12:15] satya164 commented on #47
Does this happen every time? This should be easy to fix.

[2017-03-22 01:31] 7kfpun commented on #47
Yes happen every time

[2017-03-22 02:04] satya164 commented on #47
okay, I'll try to fix it tonight.

[2017-03-22 12:16] VinAppFun commented on #47
How to fix _onAdError event?

[2017-03-23 15:51] AshokICreate opened #51 "how to contribute document is missing"
I would like to contribute to this project please add basic guidelines.

[2017-03-26 06:20] nimamyscreen opened #52 "justify content is not working"
render() {
        return (
            <BannerView style={{backgroundColor:'red' , flex:1,justifyContent:'center' , marginTop:20}}
                placementId="566718123532432_613986802138897"
                type="standard"
                onClick={() => console.log('click')}
                onError={(err) => console.log('error', err)}
            />
        );
    }

![img_0062](https://cloud.g

[2017-03-27 06:37] satya164 commented on #52
Wrap it in a view.

[2017-03-27 06:37] #52 closed

[2017-04-09 23:02] namestise opened #53 "CTKAdSettingsManager.currentDeviceHash undefined is not an object"
Launching app and getting crash

I don't setup AdSetting, just render:

[code]
![simulator screen shot apr 10 2017 5 53 02 am](https://cloud.githubusercontent.com/assets/20994365/24841642/f6efe6ec-1db2-11e7-9712-a01d660cdcd0.png)

[2017-04-09 23:13] namestise opened #54 "Build Failed undefined symbol"
getting build failed

[code]

[2017-04-10 23:03] nmartin867 commented on #54
This looks like you forgot to link FBAudienceNetwork.framework

[2017-04-12 01:09] nmartin867 commented on #53
I'm running into the same issue. Everything is working as expected on iOS but Android errors out immediately with the above error. Is this a configuration issue?

[2017-04-12 10:52] satya164 commented on #53
Please make sure the library is linked.

[2017-04-12 10:52] #53 closed

[2017-04-12 18:02] nmartin867 commented on #53
This is the same issue reported here: #37

The solution is posted there.

[2017-04-13 10:20] grabbou commented on #38
Yup, it's a duplicate. I will investigate these issues shortly.

[2017-04-13 10:20] #38 closed

[2017-04-13 10:21] grabbou commented on #51
You can contribute by adding guidelines! But seriously speaking, all you have to do is to clone repo, install dependencies (npm / yarn) and run one of the scripts from [`example/package.json`](https://github.com/callstack-io/react-native-fbads/blob/master/example/package.json). Most likely start followed by `run-ios`.

Can't wait for your contributions!

[2017-04-13 10:21] #51 closed

[2017-04-13 10:21] grabbou commented on #47
Any luck @satya164 ?

[2017-04-13 10:26] grabbou commented on #54
Please follow https://github.com/callstack-io/react-native-fbads#21-ios

[2017-04-13 10:26] #54 closed

[2017-04-18 10:06] rohitgoyal opened #55 "Does it support rewarded audience network video ads?"
Hi
Does this library gives the support to integrate video ads specially rewarded ads? If not any idea if there is way to do so in a react-native app?

Thanks in advance.

[2017-04-19 03:26] ElvisChiang opened #56 "build broken with latest sdk (4.22.0)"
[code]

The library dependency refers to all 4.* version
it's broken at 4.22.0 (fine with 4.20.0)

[code]

[2017-04-19 06:41] #56 closed

[2017-04-25 06:11] Tiendq commented on #35
@JUnderwood1991 is there any issue if you remove onClick handler?

[2017-04-28 06:12] mayurmate149 commented on #56
Still getting same issue

[2017-04-29 09:12] booboothefool commented on #55
@rohitgoyal I don't think so. If you look at the Facebook Audience Network dashboard, it doesn't show an option for rewarded video, only: native, interstitial, banner.

I've successfully gotten rewarded videos working with: https://github.com/sbugert/react-native-admob

But better yet, you may want to check out http://appodeal.com mediation for all ad types and 30+ ad networks.

[2017-04-29 10:01] rohitgoyal commented on #55
@booboothefool I got rewarded video ads via video as well. Was wondering if it was possible for Audience Network too.

[2017-05-13 22:06] sfratini opened #58 "[SOLVED] Duplicate zip entry - play-services-ads dependency outdated"
Hey

So by build is not building and the error I am getting is this:

Warning: Exception while processing task java.io.IOException: Can't write [XXXXXXXXXX/android/app/build/intermediates/transforms/proguard/debug/jars/3/1f/main.jar] (Can't read [XXXXXXXXXXXXXXX/android/app/build/intermediates/exploded-aar/com.google.android.gms/play-services-ads/8.4.0/jars/classes.jar(;;;;;;**.class)] (Duplicate

[2017-05-14 08:47] satya164 commented on #58
your fix is correct.

[2017-05-14 08:47] #58 closed

[2017-05-14 14:43] 7kfpun commented on #47
Update Facebook SDK to the latest version(4.22.1) will fix the problem.

[2017-05-19 13:26] tomasfrancisco opened #59 "New bundles must use latest available Audience Network SDK"
I'm getting this error on Android (iOS is working) when I'm trying to include a `<BannerView />`

[code]

Am I missing something?

[2017-05-20 05:02] #59 closed

[2017-05-22 16:43] grabbou commented on #55
We support features that are available in the native sdk. Having my experience with Facebook SDK, I don't recap mention of `rewarded video`.

As others suggested, if that's what you are looking for, then `admob` is the way to go.

[2017-05-22 16:43] #55 closed

[2017-05-22 16:47] grabbou commented on #35
You should define `onPress` instead of `onClick`. The error is because there's no handler defined for the event.

[2017-05-22 16:47] #35 closed

[2017-05-22 16:54] grabbou commented on #37
Fixed in 4475c36

[2017-05-22 16:54] #37 closed

[2017-05-22 16:55] grabbou commented on #47
We bumped the Facebook SDK version for next version, so going to close it.

[2017-05-22 16:55] #47 closed

[2017-05-22 16:58] grabbou commented on #48
Is this issue still happening? I guess it might have to do with React Native on that particular Android version.

What is the device you are running and software (stock/Cyanogenmod)?

[2017-05-22 16:59] grabbou commented on #27
If I remember correctly, @jakubsta had issues implementing this feature. And so, it's unlikely we will add it unless someone else steps in and implements it.

Jakub, mind putting a bit more context on why we didn't manage to make it?

[2017-05-23 07:49] tiendq opened #61 "Why banner ads not shown"
I tried to show a banner for testing but there is only a blank banner at the bottom of screen. No ad at all.

Is there additional steps required to test ads?

Thanks,

RN code:
[code]

My placement for this banner (removed placement ID):

<img width="631" alt="screen shot 2017-05-23 at 2 47 32 pm" src="https://cloud.githubusercontent.com/assets/815910/26343640/027e6796-3fc7-11e7-80d2-75210c90e850.

[2017-05-23 08:03] Tiendq commented on #35
@7kfpun Banners shown on your app? I tried but always see blank banner, no ad content :(

[2017-05-23 08:15] Tiendq commented on #35
I used this banner:

[code]

Add keep seeing this error in the console log, but don't know what it mean (I set 30 seconds refresh rate for the banner):

<img width="647" alt="screen shot 2017-05-23 at 3 13 31 pm" src="https://cloud.githubusercontent.com/assets/815910/26344639/948fa53e-3fca-11e7-92ed-cc253ee7c1cb.png">

[2017-05-23 14:43] 7kfpun commented on #35
Have you updated the SDK?

[2017-05-23 15:42] Tiendq commented on #35
@7kfpun I just install everything today, first time for this app.

[2017-05-26 17:14] parkerproject commented on #46
What does your fix mean? cos I 'm having the same issue

[2017-05-26 17:15] parkerproject commented on #46
I'm also pointing to ~/Documents/FacebookSDK but still not working

[2017-05-31 15:25] teyou opened #62 "Android cannot compile anymore"
RN 0.44.1
react-native-fbads: "4.2.0"
react-native-fbsdk: "0.5.0"

My android app cannot compile anymore after I added this library.
However, my ios app works fine.

anyone encounter the same issue?

[code]

[2017-06-05 18:38] tomasfrancisco commented on #62
Would you like to try this solution? https://stackoverflow.com/questions/44235408/processreleaseresources

gl

[2017-06-06 04:25] teyou commented on #62
unfortunately, it doesnt solve my issue :(

[2017-06-07 11:02] tomasfrancisco commented on #62
I'm currently in the same situation. Now it's compiling but ads are not showing.
I follow some solutions here https://github.com/facebook/react-native-fbsdk/pull/339

Hope it helps

[2017-06-07 15:36] teyou commented on #62
Thanks.
I've managed to fixed it by manually change some settings in the
``react-native-fbads/src/android/build.gradle`` to below

[code]

[2017-06-07 15:36] #62 closed

[2017-06-09 09:41] tomasfrancisco opened #63 "Warning: Can only update a mounted or mounting component."
I'm getting this warning, referring to the file `withNativeAd`. Perhaps it's referring to the timeout presented in `NativeAdsManager` within the method `onAdsLoaded`. But I don't really have a solution to help with.

Just leaving here the screenshot so can anyone track the warning.

![simulator screen shot 9 jun 2017 10 30 39](https://user-images.githubusercontent.com/4301103/26970117-08217530-4d0

[2017-06-23 00:55] vu-dang opened #64 "CTKAdSettingsManager.currentDeviceHash error"
I'm getting this error on Android at startup: undefined is not an object (evaluating 'CTKAdSettingsManager.currentDeviceHash')

[2017-06-23 20:12] asgvard commented on #63
Have the same issue.
I have a FlatList (that sometimes unmounting the Views that are far away from scroll position), and I have few FB Ads in the "Feed". All of them are using the same "adsManager", which basically fires the same "onAdsLoaded" event, and seems that this doesn't get called in time:
[code]
In result a FB Ad still receives this "onAdsLoaded" event on Unmounted component which gives t

[2017-06-23 21:16] asgvard commented on #64
@vu-dang Add this into your /android/app/build.gradle:

dependencies {
    compile project(':react-native-fbads')
    .....
    compile 'com.facebook.android:audience-network-sdk:4.+'     <----- THIS
}

Facebook updated their SDK, and now forces everyone to use new version. And this package is depended on the old 4.22.1 one. You need to override this dependency.

[2017-06-29 19:42] michaelspeed commented on #63
i am currently having the save issue. sometimes i even cannot to the end of the list. its starts looping

[2017-06-30 02:22] Un3qual commented on #63
Could this be solved by just removing [this line](https://github.com/callstack-io/react-native-fbads/blob/master/src/withNativeAd.js#L58)?

[2017-07-03 21:19] michaelspeed opened #65 "error with didFailWithError"
i am getting this error for most of the time, it works mostly though -

![screenshot at jul 04 02-46-37](https://user-images.githubusercontent.com/1447958/27808118-5d445372-6063-11e7-9d3b-e907f8adee90.png)

any thoughts how we could fix this?

[2017-07-12 11:56] wojteg1337 commented on #64
Did you link properly ? @vu-dang

[2017-07-12 13:40] vu-dang commented on #64
Yes, I got it to work using the instruction from Admob mediation.

[2017-07-13 03:08] #64 closed

[2017-07-20 09:23] grabbou commented on #65
I will try to reproduce this issue - can you share how do you use it on the Javascript side? If I remember, this could happen as soon as either component is unmounted or the event has already been called.

[2017-07-20 09:29] grabbou commented on #65
The issue happens because `NativeAdView` doesn't set `onAdError` prop -> https://github.com/callstack-io/react-native-fbads/blob/master/src/withNativeAd.js#L71

I believe we can fix it by setting it to `this.props.onAdError`, so that whoever renders `withNativeAd` wrapped component, can set that prop to listen to errors.

Handling itself is handled within that wrapper anyway (in case of error - `n

[2017-07-20 10:33] grabbou opened #67 "[Request] Do not use `constantsToExport` on iOS"
We currently export current device hash, so that it can be passed to `addTestDevice:`. We could change it in a way that `addTestDevice:` accepts a string of value "current" and we check for that value on a native side.

[2017-07-20 10:37] grabbou commented on #65
You need to provide required `onError` prop for `BannerView`. Otherwise, when error occurs, your native code will throw.

[2017-07-20 10:37] #65 closed

[2017-07-24 15:19] QuangTranSoict opened #70 "Error CTKAdSettingManager.currentDeviceHash"
![simulator screen shot jul 24 2017 10 22 29 pm](https://user-images.githubusercontent.com/19943271/28530607-9cbd07b8-70be-11e7-8e0c-b5453264ea7d.png)

**undefined is not an object (evaluating CTKAdSettingManager.currentDeviceHash').**
Help me. I can't run project on my device or my simulator.
In newest version.

[2017-07-25 01:07] kyo504 commented on #70
@QuangTranSoict Could you check your fbsdk version? I had a sample problem and fixed after changing version to latest version(v4.24.0)

[2017-07-25 01:48] QuangTranSoict commented on #70
i have installed fbsdk version is v4.24.0 via cocoa-pod. But no happened.

[2017-07-25 10:55] satya164 commented on #70
Have you linked the library with `react-native link`?

[2017-07-25 12:26] QuangTranSoict commented on #70
Yes.. i did

Vào Th 3, 25 thg 7, 2017 lúc 17:55 Satyajit Sahoo <notifications@github.com>
đã viết:

[2017-08-07 11:11] grabbou commented on #70
You need to double check if the native module is properly linked. The error message says that there's no native module.

[2017-08-07 11:11] #70 closed

[2017-08-07 11:33] #67 closed

[2017-08-07 16:42] Rebsos commented on #27
AdChoices is now required and you have to use the native template for it. It may be not enough to create a custom button with an AdChoice icon on it. How do you handle this?
https://developers.facebook.com/docs/audience-network/guidelines/native-ads?locale=en_US#native

[2017-08-08 10:46] #22 closed

[2017-08-08 10:46] satya164 opened #74 "Investigate what needs to be done for scoping in Expo"

[2017-08-08 10:46] grabbou commented on #74
One of the potential solutions is to extend a module and override it with added methods. It's needed to scope ads to experiences.

[2017-08-08 10:47] grabbou commented on #74
@wojteg1337 would be great if you could check what's the difference. Happy to explain any nuances of Expo SDK.

[2017-08-08 10:51] grabbou commented on #23
Can you please provide an example (you can use Expo for that since it has our ads integrated) that demonstrates the issue?

I am going to close it for now as I wasn't able to reproduce it on latest React Native.

[2017-08-08 10:51] #23 closed

[2017-08-08 10:53] grabbou commented on #48
I am going to close this one due to inactivity. Please reopen in case it still happens. I've contacted Facebook Ads team to investigate this.

Will report back my findings in the meantime (if I don't means I didn't find anything interesting).

[2017-08-08 10:53] #48 closed

[2017-08-08 10:54] grabbou commented on #25
Hey - can you explain the reason for that? Just want to understand the use-case and how to test it's resolved. My example and all apps I've been working with work just fine.

[2017-08-08 22:01] vu-dang opened #75 "support a separate function to load ad before showing ad."
I'd like to suggest adding a loadAd function to allow loading an ad before showing it.  This allows for better control of the timing to show interstitial ads.

[2017-08-10 13:56] satya164 opened #76 "'rectangle' option in BannerView doesn't work on iOS"
https://snack.expo.io/SJn-I15Pb

[2017-08-11 03:45] wx031416 opened #77 "Android launch page ads"
When the request for an AD callback is not returned,AsyncStorage  unoperation，Asynchronous operations are blocked

[2017-09-05 12:31] bartholomew91 commented on #27
I don't consider myself an iOS developer, but I've made progress on getting the AdChoices banner to show. Hopefully, this can put someone on the right track. I'll continue tinkering around with it.

Some issues that I've noticed with this implementation;
- Children of the element or even a background color will be rendered over the AdChoices banner in your component.
- The updateFrameFromSuperview

[2017-09-06 18:57] efstathiosntonas opened #79 "[Question] how to display ads inline a list view every x items?"
I have a FlatList currently showing hundreds of items with pagination and infinite  scroll. How it's possible to show ads every x items inside the list? Reddit and 9gag app is doing this.

Thanks

[2017-09-07 07:19] camlahoud commented on #27
I have created a component for the AdChoices for **android only** [camlahoud/react-native-fbads](https://github.com/camlahoud/react-native-fbads), it uses a reference to the NativeAdView component to retrieve the NativeAd being displayed:
[code]

The nativeAdView prop is provided by the **withNativeAd** wrapper component. I have also implemented a MediaView component which works the same way:
`<Me

[2017-09-10 16:15] qdd1 commented on #46
@JUnderwood1991  How did you get it works? I moved/unzip all frameworks to "~/Documents/FacebookSDKs-iOS-4" ( event FBAudienceNetwork.framework ) but still getting the error.

[2017-09-11 07:09] efstathiosntonas commented on #46
@qdd1 Make sure that when moving Framework files that `choose Create groups for any added folders and deselect Copy items if needed. `. Also be 100% sure that the folder name is inside your `Documents/FacebookSDK` directory and not `Downloads`.

notice that the folder name is `FacebookSDK` and not `FacebookSDSs-iOS-4`.

[2017-09-11 07:52] efstathiosntonas commented on #76
Same here, it seems that the width of the view is always `1` no matter what i set to the view/banner width size.

[2017-09-15 15:17] munkhorgil opened #80 "Error: No fill Android"
Ads can't work on Android

`Error: No fill
    at createErrorFromErrorData (NativeModules.js:117)
    at NativeModules.js:80
    at MessageQueue.__invokeCallback (MessageQueue.js:354)
    at MessageQueue.js:129
    at MessageQueue.__guard (MessageQueue.js:269)
    at MessageQueue.invokeCallbackAndReturnFlushedQueue (MessageQueue.js:128)
    at debuggerWorker.js:72`

Even I added below code
AdSetti

[2017-09-16 07:41] 7kfpun opened #81 "Doesn't work with FBAudienceNetwork-4.26.0 for iOS"
<img width="400" alt="screen shot 2017-09-16 at 3 28 55 pm" src="https://user-images.githubusercontent.com/2672802/30510388-67e4bb4c-9af5-11e7-9961-e6db39ac12d5.png">

[2017-09-25 13:53] risto1913 commented on #81
![skjermbilde 2017-09-25 kl 15 48 07](https://user-images.githubusercontent.com/501772/30811613-f8905a10-a208-11e7-8af6-8caafd237608.png)

I'm having the same issue.

I have tested the following:
1. pod install  (with: pod 'FBAudienceNetwork')
2. installed FBAudienceNetwork.framework into Frameworks and referenced it this way.
3. added it to Documents/FacebookSDK and referenced it to my disk

I ca

[2017-10-04 06:09] Anu-Ujin commented on #81
i m having this issue too,, is there anyone resolve this? @risto1913 @7kfpun

[2017-10-04 09:09] wojteg1337 commented on #81
@dratwas can you look at this ?

[2017-10-04 11:14] dratwas commented on #81
@wojteg1337 I will. I'm able to reproduce this so i hope i will find time to take care of it.

[2017-10-04 13:27] wojteg1337 commented on #80
cc @satya164

[2017-10-05 13:12] ianlin commented on #81
Have the same issue here.

[2017-10-05 14:00] munkhorgil commented on #80
I just solved this by putting hash id instead of `AdSettings.currentHashId`
Get the hash id from your android studio log.

[2017-10-05 14:00] #80 closed

[2017-10-19 14:57] aung-win opened #82 "No AdChoices icon on Native Ads"
No AdChoices icon on Native Ads. Facebook not approve my ads.

[2017-10-19 18:50] #82 closed

[2017-10-20 04:36] aung-win commented on #27
@camlahoud I'm new to react native. I'm trying your above package. After installing package and I import react-native-fbads to my project. The error happen "underfined is not an object(evaluating '_react.PropTypes.number') <unknown> C:\MobileApp\MyApp\node_modules\react-native-fbads\src\AdChoices.js:9:32"
Can you show me working example code?

[2017-10-20 07:18] camlahoud commented on #27
@aung-win The code included above works, the issue you're having is linked to the version of react/react-native you're using. Starting react 15.5 React.PropTypes should be replaced by the prop-types package. You can either downgrade the version of react-native you're using, or edit the package to replace any
`import { PropTypes} from "react"`
with:
`import PropTypes from "prop-types"`
(Make sure t

[2017-10-20 07:27] aung-win commented on #27
My react is 16. The original package (callstack/react-native-fbads) is work correctly in my project. I don't use because it lack AdChoices Icon in native ads. So, I use your package. Can you show me a complete working example of native ads app code .js file?

[2017-10-20 07:51] camlahoud commented on #27
@aung-win Pushed a new update (version 4.2.5) that should fix the issue for the PropTypes.
The usage is like mentioned, here is a sample component
[code]

[2017-10-20 08:30] aung-win commented on #27
@camlahoud  version 4.2.5 work correctly. Thank for your help.

[2017-10-20 12:00] omeraplak commented on #81
Have the same issue here.

[2017-10-20 12:19] omeraplak commented on #79
Hello @efstathiosntonas ,
You can implementation with renderRow of FlatList function.
Example, your pagesize 20, you can add if your renderRow index is index % 20 === 0, you can insert native ad component.

[2017-10-22 12:25] yassy000 commented on #81
is it related to below issue?
[code]

https://webcache.googleusercontent.com/search?q=cache:aZ4GvdZbf_QJ:https://developers.facebook.com/docs/audience-network/ios/+&cd=1&hl=ja&ct=clnk&gl=jp

But .. I could not find FBAudienceNetwork.modulemap at the directory. There was a module.modulemap already..

[2017-10-23 03:30] yassy000 commented on #81
for tmp, I've Installed 4.25.0 manually to ~/Documents/FacebookSDK and it works..

[2017-10-23 06:01] omeraplak commented on #81
@yassy000 or you can install with Pod. I think is not good practice using Documents folder for framework references.
https://cocoapods.org/

[2017-10-23 08:10] yassy000 commented on #27
@bartholomew91
Hello, I am trying to implement your code to my app.
But it could not got success.

is it FBNativeAd??

and there's some another errors.
![image](https://user-images.githubusercontent.com/5616913/31878363-d58a6016-b814-11e7-94ea-dbe9c68aab50.png)

I am glad if you can help me. Thanks

Note:
Xcode 9
react-native 0.47

[2017-10-27 01:31] yassy000 opened #83 "ad imp is strangely smaller than request"
I've implemented fbads and released a few days ago.
The ads are seems showed correctly, but ads imp is small than expected.

Is there someone knows same issue?? and how to solve it?
Thanks

![image](https://user-images.githubusercontent.com/5616913/32083971-880a1382-bb01-11e7-96e7-5d005e37a7fb.png)

[2017-11-01 19:22] galcivar commented on #61
I have the same issue

[2017-11-10 15:36] butavpaul opened #84 "CTKNativeAdManager error"
Hi, I'm trying to add Native Ads on my app but I got this error. I followed all the steps and I also tried https://github.com/callstack/react-native-fbads/issues/37 but still nothing.
This is what I have:
[code]
and in FBNative

[code]
I don't know what to do. The problem is when I'm importing NativeAdsManager.
Thank you!

[2017-11-14 10:14] wojteg1337 commented on #81
tomorrow we have meeting about fb-ads so will take care about this issue

[2017-11-22 21:43] Sata51 commented on #84
It seems to be the same of #81

[2017-11-30 18:05] BorisMisnik opened #86 "Selection of clickable zones in native ads"
Facebook [guidelines](https://developers.facebook.com/docs/audience-network/policy?locale=en_US#control) does not allow to have white spaces clickable on native ads. The current implementation doesn't let us to select clickable zones on native ads. We need an option to add clickable elements to this method [nativeAd registerViewForInteraction].
We'll be very grateful for any help on this issue.

[2017-11-30 18:14] liubomyrp commented on #86
I have the same issue on my side.

[2017-12-07 17:12] alfredoreduarte commented on #81
FB included this at the "Known issues" section. It fixed it for me.

[2017-12-13 08:36] Rebsos commented on #83
I have the same problem, did you solved this?

[2018-01-08 15:50] junyuanxue commented on #27
Hey are we rolled back to 4.2.2? Looking for 4.2.5 as we need the `AdChoices` component. 🙏

[2018-01-08 18:19] camlahoud commented on #27
@junyuanxue The 4.2.5 mentioned above is on a fork of this project [camlahoud/react-native-fbads](https://github.com/camlahoud/react-native-fbads).

[2018-01-09 19:19] grabbou commented on #27
Would you mind submitting a PR? I would love to merge this and release a
version with that awaited feature :)

On Mon, 8 Jan 2018 at 19:22 Camille Lahoud <notifications@github.com> wrote:

[2018-01-11 13:54] perrosnk commented on #79
@efstathiosntonas Have you found a solution to this? Would it be possible to share some code on how to achieve this?

[2018-01-11 14:04] efstathiosntonas commented on #79
@perrosnk Sure, here's a gist i just created: https://gist.github.com/efstathiosntonas/0865256fa8e0a97a586a377b52b6fc5e

[2018-01-11 14:06] #79 closed

[2018-01-11 19:04] perrosnk commented on #81
Any updates on this? I am getting the same error.
I have also tried updating to v.4.27.2 but still I am getting the error

[2018-01-12 16:08] perrosnk commented on #81
I think I found the problem, at least, it fixed it for me:
At `rn-fbads.xcodeproj` > `Build Settings` > `Framework Search Paths` I could only find `~/Documents/FacebookSDK`, which didn't correspond to the correct path where `FBAudienceNetwork` is installed when using Pod. So I added the path `$(PROJECT_DIR)/../../../../ios/Pods/FBAudienceNetwork` and it worked!

[2018-01-12 22:11] gaphu opened #87 "Unsupported top level event type "onLoggingImpression" dispatched extractEvents - React Native"
### Please help this error pops up every time banner loads, which loads successfully but i think ad impressions aren't working.

![screenshot_1515794882](https://user-images.githubusercontent.com/26577026/34897342-974d84ce-f813-11e7-8456-e0f9eead9404.png)

[2018-01-14 09:14] camlahoud commented on #27
@grabbou Sure I'll work on that

[2018-01-20 17:16] perrosnk commented on #63
Has anyone found any solution to this?

[2018-01-20 17:56] perrosnk commented on #82
@aung-win Did you find a solution to this?

[2018-01-20 19:22] perrosnk commented on #86
Any updates on this? Or anyone found any other solution?

[2018-01-20 19:23] perrosnk commented on #75
+1

[2018-01-21 03:21] aung-win commented on #82
@perrosnk  Use this `https://github.com/camlahoud/react-native-fbads`

[2018-01-23 08:06] mjmaix opened #89 "[defect] app:transformDexArchiveWithExternalLibsDexMergerForDebug"
I got this error after adding `react-native-fbads`, it's working on iOS.

I already tried to try fixing by adding this on my `build.gradle`, but still failed
[code]

Versions used
react-native-fbads: "^4.2.2"
FB Audience Network: FBAudienceNetwork-4.27.2

I'm trying solutions now and will update this. Appreciate if someone can tell me a possible fix.

[code]

part of my `build.gradle`

[code]

[2018-01-25 16:10] #89 closed

[2018-01-25 16:12] mjmaix commented on #89
my solution was to add exclude configuration on `app/build.gradle`

[code]

[2018-01-26 05:24] chunghe commented on #27
I managed to make FBAdChoicesView to appear at the top-left corner of a native ad. But unfortunately, FBAdChoicesView is not clickable. (click on the FBAdChoicesView has the same effect as click on the ad itself, instead of expand it.). Has anyone success to make AdChoices works on iOS? Thanks in advance!

[2018-01-26 05:58] grabbou commented on #27
Unfortunately, that's where we got so far trying to implement it
internally.

On Fri, Jan 26, 2018, 6:24 AM chunghe <notifications@github.com> wrote:

[2018-01-26 12:12] roshanpal commented on #87
I have the exact same issue whenever the banner loads this pops up. For some reason if the banner didn't load, I don't see this error message.

[2018-01-28 15:10] eahang commented on #61
I got blank ads for the first time but after reloading (without clear app in memory) it shows normally.
The error is show like this:
![image](https://user-images.githubusercontent.com/15654092/35483697-c8dcc958-0477-11e8-800d-866cc55c8c07.png)

Do you know hoe to fix it?

[2018-01-29 20:08] BeckZero commented on #61
+1 same here...

[2018-02-01 14:04] RyszardRzepa opened #90 "Outdated FBAudienceNetwork.framework in FacebookSDK-v4.3"
I am running on this error:
**Include of non-modular header inside framework module 'FBAudienceNetwork': '/Users/ryrz01/Downloads/solapp/ios/Pods/Headers/Public/FBAudienceNetwork/FBAudienceNetwork/FBAdSize.h'**

I am using FacebookSdk-ios-4.3, where FBAudienceNetwork.framework is not included.
Following Facebook docs, I added 4 files:
![screen shot 2018-02-01 at 15 03 26](https://user-images.githu

[2018-02-09 15:02] khalid283 commented on #87
@gaphu @roshanpal Did you found any solution?

[2018-02-17 01:10] gesf commented on #90
Not this error specifically, but I was also having issues because of the missing _FBAudienceNetwork.framework_ file and couldn't find any information on why that file doesn't come along with the others and how could I do without it. I am using v4.30. At some point just decided to go to v.4.26, still the two _FBAudienceNetwork*.framework_ files, include them in my _~/Documents/FacebookSDK_ and ...

[2018-02-18 01:42] eltoncrego commented on #84
I'm getting this issue as well. It isn't related to #81 as I've solved that issue and am still getting this.

[2018-02-22 06:07] GOLFJT commented on #61
add AdSettings.addTestDevice(AdSettings.currentDeviceHash) your code

[2018-02-22 09:40] gesf commented on #61
I am also having that proxy issue...

[2018-03-05 23:16] ianataffinity opened #91 "Error when building a release APK - Android"
I am using Mobile Center to build release APK's and its suddenly failing to complete a release build with this error:

    Could not resolve all task dependencies for configuration ':app:releaseCompileClasspath'.

        Required by: project :app

Any idea on how I can resolve this one?

Edit: It does work OK in a debug build.

[2018-03-06 06:17] #91 closed

[2018-03-21 13:20] Porshe opened #92 "Support cocoapods 1.4.0"
Please add `s.static_framework = true` to podspec file.

[2018-03-25 20:51] efleurine commented on #87
I just make a pull request which I think resolve the problem @khalid283 @gaphu @roshanpal

The solution was to add to `onLoggingImpression` in `getExportedCustomDirectEventTypeConstant` of `BannerViewManager` where the custum events are defined.

The onLoggingImpression was missing.

[2018-03-25 20:53] efleurine commented on #87
@roshanpal My banner were loading even if I saw the error.
Try my fix to see if your banner are still not loadin.
Thanks

[2018-03-27 03:38] kkusanagi commented on #87
Yes, it works with no error for now.
Some explanation for those who want to edit.

Go to [Your Project]/node_modules/react-native-fbads/src/android/src/main/java/io/callstack/react/fbads

Edit BannerViewManager.java

Replace Code as below on same place

[code]

Save and rerun "react-native run-android" to recompile again. should fix now.

[2018-03-27 13:43] kkusanagi commented on #61
I'm not sure also.

In DEBUG mode, it did not show anything. need add code as below.

[code]
The device_id, you can find it through the log. it will mention you to this code with your device hash id.
Oh, the AdSettings. currentDeviceHash did not work.

In RELEASE mode, it did show the ads. Try put your apps to LIVE status in facebook developer page.

Still cannot? Then you need to add below into b

[2018-03-28 22:14] rogerkerse commented on #87
I get the same error when using FacebookAds on Expo app and there I cannot edit native code

[2018-03-30 04:59] toandk commented on #92
you can try installing the library manually as the instruction here: https://facebook.github.io/react-native/docs/linking-libraries-ios.html. Note, after installing the library, you have to remove the line `pod 'ReactNativeFBAds', :path => '../node_modules/react-native-fbads'` inside Podfile

[2018-03-30 09:34] Porshe commented on #92
Yes, I know this but it is a workaround.

[2018-03-30 23:17] rogerkerse opened #94 "Out of memory exception"
So just implemented this plugin. I get test add and real add only on iOS Simulator. Everywhere else I get out of memory exception. Memory and CPU just keep climbing and all the buttons are unresponsive in the app. The problem comes, when I add BannerView to screen. I use latest versions of everything.

[2018-04-03 09:26] toandk commented on #76
Currently workout solution: modify these line in the file `node_modules/react-native-fbads/src/ios/CTKBannerView.m`:
[code]
to this:
[code]

[2018-04-03 09:27] satya164 commented on #76
@toandk can you send a PR with the change?

[2018-04-03 10:09] toandk commented on #76
you can use my repo: https://github.com/toandk/react-native-fbads

[2018-04-04 22:18] lgn-lvx3 opened #95 "Any plans for implementing Rewarded Videos?"
Looks to be included in the 'latest' sdk, I was wondering if you guys are already working on this before I start to implement my own. Ideally I would build on this project and add a pull request, but I don't have a lot of module dev experience.

https://developers.facebook.com/docs/audience-network/ios/rewarded-video

[2018-04-06 18:59] Trancever commented on #95
Hi @hzyIO . We are not planning to implement this feature by ourselves, but we are happy with contributions from community. Feel free to submit a PR.

[2018-04-06 19:09] Trancever commented on #87
@efleurine @khalid283 Did the pull request solve the issue?

[2018-04-06 19:11] Trancever commented on #92
@Porshe Could you make a pull request?

[2018-04-07 16:50] khalid283 commented on #87
@efleurine @Trancever

Yes, it working.

I have also checked impression.

Thanks

[2018-04-07 17:41] Trancever commented on #87
@khalid283 Great!

[2018-04-07 17:41] #87 closed

[2018-04-09 16:40] teyou commented on #61
my BannerView is not showing anything too. :(

[2018-04-17 05:55] leokaessner commented on #61
Same here. Only works on devices where I'm logged in with my facebook account. For all others I get a huge increase of CPU and memory usage and app freezes

[2018-04-17 18:57] chmin opened #96 "Android rectangle display format does not match"
Hi,
I am getting an error message "The display format in the ad request does not match the display format specified for this placement", when using BannerView type="rectangle" for Display format - Medium rectangle. Any ideas where could be the problem?
Thanks

[2018-04-24 06:31] doobix commented on #94
Similar situation here. My react-native app becomes unresponsive in the iOS simulator when I add the `BannerView` component. No problems when running it through Expo on my real phone though.

[2018-04-27 13:48] RyszardRzepa opened #97 "Update installation guide"
Hi,

I tried to install `react-native-fbads`  in existing and new project, but I could not get rid of the error:

I have FBAudienceNetwork.framework in the project directory Libraries/ , and  folder FacebookSDK in on my mac in /Documents directory.

Does anyone know about any tutorial on how to add `react-native-fbads` to react native project?
Just installing the package will not work, or installi

[2018-04-27 13:56] Trancever commented on #97
Try to put FBAudienceNetwork inside FacebookSDK for iOS.

[2018-04-27 14:10] RyszardRzepa commented on #97
@Trancever are u thinking about directory ?

 `Libraries/RCTFBSDK.xcodeproj/Frameworks`

[2018-05-02 13:34] RyszardRzepa commented on #97
In the end I found out at I have to add` librn-fbads.a` to Link Binary With Libraires.
I also used cocopods to install FBAudienceNetwork.
![screen shot 2018-05-02 at 15 32 19](https://user-images.githubusercontent.com/13038459/39526149-355a4692-4e1e-11e8-8029-db78d5364042.png)
![screen shot 2018-05-02 at 15 32 37](https://user-images.githubusercontent.com/13038459/39526150-3589226e-4e1e-11e8-82d9-

[2018-05-02 14:12] Trancever commented on #97
Did you follow this getting started guide for iOS - https://developers.facebook.com/docs/ios/getting-started ? In step 3 you have to drag those libraries from FacebookSDK directory to XCode project Frameworks group (if you don't have Frameworks group, create it). Also do it for FBAudienceNetwork.framework.

Btw. we are currently working on reimplementing this library from scratch. Current version

[2018-05-14 10:13] sajjanbalar opened #99 "Ads not showing up in Release version of the app"
Hi,

I am using the native ad component to create an ad in my home screen. My app uses the following:
                "react": "16.0.0-beta.5",
		"react-native": "0.49.3",
		"react-native-fbads": "^4.2.2",
		"react-native-fbsdk": "^0.7.0".

The code which I am using to create the ad is very similar to the example.
However, I can see the ad in my app only during debug.

[2018-05-14 10:31] Trancever commented on #99
Can you provide sample code and show the error that you got?

[2018-05-14 10:41] sajjanbalar commented on #99
export const SmallRowAd = withNativeAd(({ nativeAd }) => (
  <View style={styles.container}>
    {nativeAd.icon && (
      <Image style={styles.icon} source={{ uri: nativeAd.icon }} />
    )}
    <View>
      <Text numberOfLines={2} style={styles.title}>{nativeAd.title}</Text>
      {nativeAd.subtitle && (
        <Text numberOfLines={1} style={styles.subtitle}>{nativeAd.subtitle}</Text>
      )}

[2018-05-14 13:52] Trancever commented on #99
Code looks fine. I am thinking about configuration of your facebook developers account, maybe there is an issue. Did you follow guide on their site?  There are few additional steps required to get production ads. https://developers.facebook.com/docs/audience-network/testing

[2018-05-24 04:00] Liujiaohan opened #100 "Error:Execution failed for task ':react-native-fbads:processDebugResources'. > com.android.ide.common.process.ProcessException: Failed to execute aapt"
after I run react-native run-android
I can't get rid of this error

[2018-05-31 17:03] younes200 commented on #97
None of this guides works, draging those libraries from FacebookSDK or the solution suggested by @RyszardRzepa with cocopods.
Please provide a clear install procedure otherwise it's a wast of time trying to figure out how to linking those peace together...

[2018-06-04 06:55] Trancever commented on #100
@Liujiaohan Hi, can you provide more informations? Steps to reproduction or maybe small repository reproducing an issue?

[2018-06-12 17:25] #95 closed, assigned to nobody

[2018-06-12 18:27] Trancever commented on #95
@hzyIO Thanks for implementing that!

[2018-06-12 19:03] hzyIO commented on #95
No problem @Trancever , thank you guys for all of your awesome work.

[2018-06-14 17:30] perrosnk commented on #99
@sajjanbalar I am facing the same problem. The ads do appear in iOS production, and android developement, but not on android production app. Have you found any solution?

[2018-06-15 08:55] perrosnk opened #101 "Build fails with newest Audience Network SDK 4.99.0"
Build fails on Android (and probably on iOS as well but haven't tested) because there are some breaking changes on native ad: https://developers.facebook.com/docs/audience-network/changelog-android#4_99_0

[2018-06-16 05:59] sajjanbalar commented on #99
Hi @perrosnk, I couldn't solve the issue with Native Ads. I am using Banner ads for now as they are working on both dev and prod.

[2018-06-19 05:41] perrosnk commented on #80
@munkhorgil When changing to `deviceHashedId.equals("current") ` the app crashes on device running Android 4.4. Do you experience the same problem?

[2018-06-19 05:44] perrosnk commented on #99
@Trancever Any other ideas? It seems the app is not making a request to FB for an ad. I have used Ad request debugger on Monetization Manager on fb, but it seems there is no call coming from the app. It works on fine on iOS though.

I have tested both on emulator and real device running Android

[2018-06-21 11:41] DollieExloo commented on #101
I have the same problem. Did you already have a fix for it?

[2018-06-21 12:59] perrosnk commented on #101
Unfortunately not, although you can specify a version up to 4.28.0 and it works fine apart from native ads on Android. Do native ads on android work in your case @DollieExloo ?

[2018-06-21 23:02] DollieExloo commented on #101
I'll wait with adding Facebook ads for a bit longer then I guess. And no sorry haven't tried Android yet @perrosnk

[2018-06-23 11:39] azisuazusa commented on #99
hello guys, have you solved this issue? I have the same problem

[2018-06-26 13:42] perrosnk commented on #81
@7kfpun I think this issue should be closed, right?

[2018-06-26 14:53] perrosnk commented on #99
I think I found the solution! There is this [commit](https://github.com/callstack/react-native-fbads/commit/3ebb23fe4e6996817b7c640671fb7313b00a8b09) that has not been released yet.
So after mannually changing this [line](https://github.com/callstack/react-native-fbads/blob/3ebb23fe4e6996817b7c640671fb7313b00a8b09/src/android/src/main/java/io/callstack/react/fbads/AdSettingsManager.java#L35) it wo

[2018-06-26 15:37] #81 closed

[2018-06-26 16:44] Trancever commented on #99
@perrosnk Thanks for spotting this. I'll try to release new minor version this week.

[2018-06-26 17:16] azisuazusa commented on #99
@perrosnk Ad Request Debugger still not respond to my request, can I know why this [changes](https://github.com/callstack/react-native-fbads/commit/3ebb23fe4e6996817b7c640671fb7313b00a8b09) work for you?

[2018-06-26 18:52] perrosnk commented on #99
@sajjanbalar Are you testing on a REAL device with the FB app installed and logged in with the manager account of FB?

[2018-06-26 19:08] perrosnk commented on #101
@DollieExloo Native ads work both on iOS and Android using the v.4.28.0 instead of the newest 4.99.0. The problem with android was something [else](https://github.com/callstack/react-native-fbads/issues/99#issuecomment-400338824)

[2018-06-26 19:18] perrosnk commented on #99
@azisuazusa By the way I had

1. modified the app's `build.gradle` file:

- Modified to use this version:
`
    compile('com.facebook.android:audience-network-sdk:4.28.2') {
        exclude group: "com.google.android.gms"  //exclude gms
    }
`

- Added this package:

`
compile('com.android.support:recyclerview-v7:25.3.1') {
  exclude group: "com.google.android.gms"  //exclude gms
}
`

2. And also

[2018-07-11 10:26] littlehome-eugene opened #104 "Cant display native ads on android"
NativeAdsManager.isValid is false and ads is not showing.
I wonder why isValid is false and not changing

Are you testing on a REAL device with the FB app installed and logged in with the manager account of FB? : YES

I see the status of placement in the admin as `running`

I also changed `if (deviceHashedId.equals("current")) {` as well..

[2018-07-12 07:30] zensuke commented on #104
me too

[2018-07-18 02:16] zensuke commented on #104
sorry. android 4.4 kitkat is app stopping isuue is multiDexEnabled problem.
but android 4.4 - 7 Cant display native ads.

[2018-07-26 15:07] AaronBentley opened #105 "Build Failed : Property 'title' not found on object of type 'FBNativeAd'"
Hello everyone 👋

I'm looking to implement Facebook Ads into my application, I have followed the install guides and installed the SDKs as instructed but now cannot build my project.

I am receiving the following 2 errors in Xcode:
- "Property 'title' not found on object of type 'FBNativeAd *'"
- "No visible @interface for 'FBNativeAd' declares the selector 'registerViewForInteraction:withViewContr

[2018-07-26 16:46] Trancever commented on #105
Hi @AaronBentley . Could you try with FBAudienceNetwork v4.28.x or earlier? Recently facebook released new version with breaking changes and we don't support it.
We are working on new version of this library which will fix existing bugs and maybe support the new sdk.

[2018-07-27 14:42] AaronBentley commented on #105
Thank you @Trancever, I appreciate your swift response 👏

I have switched to version 4.28.1 and can confirm things are playing nicely together now.

Thanks again and closing this issue.

[2018-07-27 14:42] #105 closed

[2018-08-02 14:01] Im-Goutham commented on #90
Can you please give a link to get FBAudienceNetwork ?

[2018-08-10 07:51] rwitcher commented on #83
Bumping this up.  I'm seeing the same.  I'm using via expo.  Any resolution?

[2018-08-16 17:06] Suraj-Tiwari commented on #27
Hi Guys, I have just released a fully featured version of Facebook Audience Network, also have adchoice support and east to switch from `react-native-fbads` to `react-native-ads-facebook`
[https://github.com/Suraj-Tiwari/react-native-ads-facebook](https://github.com/Suraj-Tiwari/react-native-ads-facebook)

[2018-08-20 08:04] grabbou commented on #27
Thanks for sharing that with us! We are actually working on a rewrite right
now. Would you be willing to merge it together with our code and help us
maintain it?

On Thu, 16 Aug 2018 at 19:06 Suraj Tiwari <notifications@github.com> wrote:

[2018-08-20 10:32] Suraj-Tiwari commented on #27
@grabbou nice idea, but i tried that earlier, current version of 'react-native-fbads' is using a very old version, and 'react-native-ads-facebook' is using latest version of Audience Network, there was conflict merging, and as i have already created, so rewrite it will be a time waste,

If you still want to merge both I'll help you,

Or you can mark this library outdated and i'll add 'callstack' t

[2018-08-26 20:38] colinulin opened #107 "CTKBannerView was not found in the UIManager"
Followed all of the instructions and have FBSDK working for Facebook login without any issues. I build my app and suddenly get a "CTKBannerView was not found in the UIManager" error. My hunch is that it's because this guide seems a bit outdated (you no longer drag any .framework files to link binaries in XCode for the main FBSDK). Is this module still package still usable with the current versions

[2018-08-27 05:46] Im-Goutham commented on #107
Getting sample error for me . Please give a solution for it .

[2018-09-10 12:11] jaronsmith2006 commented on #61
Any solution with that proxy error ?
Test ad works for 1-2 times. then after it suddenly stopped working. Any correct sample code to implement facebook ad will help.

[2018-09-10 12:12] jaronsmith2006 commented on #61
@eahang any solution you found ?

[2018-09-11 01:46] eahang commented on #61
@jaronsmith2006 Now it works as normal.
in render function add **InterstitialAdManager**
`InterstitialAdManager.showAd(PLACEMENT_ID)`

[code]

[2018-09-12 16:33] leo7r opened #108 "Unable to find a matching configuration of project :react-native-fbads - Android"
I'm getting this error when trying to compile for Android (debug and release builds):

[code]

I am able to compile ok in iOs. What can I do to solve this? I have tried unlinking and linking again, uninstalling and installing again library but no luck.

React native: 0.44
React: 16.0.0-alpha.6
react-native-fbads: 4.2.3

[2018-09-12 19:48] bernardojm91 commented on #108
I have the same issue D:

[2018-09-14 15:14] #108 closed

[2018-09-14 15:15] leo7r commented on #108
It was a duplicate definition in `android/settings.graddle`

[2018-09-14 15:15] leo7r commented on #86
Same issue here, anyone with a solution?

[2018-09-15 00:24] ameshkin opened #110 "This Package Completely Broke my Project"
I get a lot of errors like this. I've tried many things I have found online. Even reverted back in GIT. I still can't fix it.

jest-haste-map: @providesModule naming collision:
  Duplicate module name: String.prototype.es6

[2018-09-16 16:11] leo7r commented on #99
I have the same issue here, any solution?

[2018-09-17 13:13] Nits7029 opened #112 "[WIP] iOS - issue while archive"
Hello,

I have integrated fbads package using pods, and am getting an error while archiving build, in debug mode its working fine, here is attached error screenshot

![screen shot 2018-09-17 at 6 38 58 pm](https://user-images.githubusercontent.com/9457796/45624974-66b24a80-baa9-11e8-9c81-142b06081926.png)

it says libReactNativeAdsFacebook.a file not found. Please help me ASAP to sort it out this

[2018-09-17 13:17] Nits7029 commented on #112
FYI: I have implemented latest package from master branch

[2018-09-18 10:37] EasonLex commented on #112
I got the same issue. Any ideals?

[2018-09-18 19:11] leo7r commented on #112
Same here

[2018-09-19 07:33] EasonLex commented on #112
It seems ReactNativeAdsFacebook didn't generate .a file when release. The easy way to reproduce this issue is change Xcode run from debug to release. And you will find there is no libReactNativeAdsFacebook.a in Release-iphoneos folder.

[2018-09-19 13:41] Suraj-Tiwari commented on #112
@Trancever Ok I'll fix it tonight

[2018-09-19 13:55] Suraj-Tiwari commented on #112
Fixed [https://github.com/callstack/react-native-fbads/pull/113](https://github.com/callstack/react-native-fbads/pull/113)

[2018-09-19 14:18] Nits7029 commented on #112
@Suraj-Tiwari  is your changes merged and live?

[2018-09-19 14:30] Trancever commented on #112
Released version 5.0.1 with @Suraj-Tiwari fix.

[2018-09-19 14:30] #112 closed

[2018-09-19 21:39] leo7r commented on #112
@Nits7029 last version fixed the problem for you? I can't get it to work on my side

[2018-09-19 23:52] Suraj-Tiwari commented on #112
Ok, so some of you will still face the issue, new issue is related to cli itself, react-native isn't linking correctly. Do this and you're ready to go

![screenshot at sep 20 05-19-48](https://user-images.githubusercontent.com/22210490/45787889-1b5c8f80-bc95-11e8-908f-fd1f99dff2bb.png)

[2018-09-20 03:15] EasonLex commented on #112
@Suraj-Tiwari Thanks for your great help, and seems add Target Dependencies works fine for this issue. After add target dependencies, .a file generated, but I still got build fail with bitcode error. I try to set Deployment Target from 11.4 to 9.0(what my project set), and it worked perfectly.

[2018-09-24 05:54] Nits7029 opened #114 "performance issue with MediaView component"
while using MediaView component, it makes app performance slower and app hangs on scroll.

@Trancever  Whats the solution? Thanks

[2018-09-24 09:30] Nits7029 commented on #114
and for android release app, read ads are not showing so what is that issue? How i can debug it.

in release app, am commenting `addTestDevice` line

[2018-09-24 11:04] Suraj-Tiwari commented on #114
@Nits7029 please go with Facebook documentation, and media view don't have any effect one performance. Bad implementation have a look [here](https://developers.facebook.com/docs/audience-network/testing)

@Trancever thats a bad implementation

[2018-09-24 11:20] Nits7029 commented on #114
@Suraj-Tiwari  what to look into the link you have given? How that's bad implementation?

[2018-09-24 11:21] Nits7029 commented on #114
its clear that when i remove MediaView component from native ads, it works smoothly

[2018-09-24 11:28] Suraj-Tiwari commented on #114
you need approval to make it work in release and (not sure >) user must have facebook app in their phone.

[2018-09-24 11:30] Nits7029 commented on #114
yes its approved and i know about facebook app installed with the same login as FB business account

[2018-09-24 11:32] Nits7029 commented on #114
what happened is, native ads displayed about 15 min and then automatically got the test ads, interstitial ads are showing fine

[2018-09-24 12:34] Suraj-Tiwari commented on #114
Try to set ad limit to 1 default 10

[2018-09-24 12:48] Nits7029 commented on #114
I am displaying 4 to 5 native ads so what's the best approach?

per ad, new adManager?

or single adManager instance with 4/5 limit set?

[2018-09-24 15:17] Suraj-Tiwari commented on #114
if you are showing all ads in single component then request them in single.
[code]

for one at a time  simply do
[code]
if nothing passed, default will be 10.

[2018-09-25 09:57] Suraj-Tiwari opened #118 "[Additional] Writing automated test"
@Trancever @erandagan any plan to work on writing tests ?

[2018-09-26 14:02] Suraj-Tiwari commented on #118
Who is going to set up ? as i can't take testing entirely. I have to fix some flow in code

[2018-10-01 18:22] erandagan opened #122 "[Feature] Supporting Native Banner Ads (SDK 4.99+)"
With SDK 4.99, Facebook added Native Banner Ads to their SDK and stopped supporting the display of regular Native Ads that don't include a `MediaView`.

Moreover, Facebook no longer approves Native Ads that don't include a MediaView and some other required content, as described in [their SDK upgrade guide.](https://developers.facebook.com/docs/audience-network/upgrade_guide_android_4_99)

Comparis

[2018-10-02 05:03] Suraj-Tiwari commented on #122
@erandagan  if removed this native banner ads will crash
https://github.com/callstack/react-native-fbads/blob/16ce3caadbe70d4cdd202af96ab51e09636e1db0/withNativeAd.js#L186

Media View Component is required by native sdk this was the only fastest way to catch up. if no media view is provided to native component this is going to crash. Or Touchables will not work.

and facebook will approve this.

I

[2018-10-02 08:36] erandagan commented on #122
I'm simply wondering if that's the right way to go here as we're kinda working against Facebook's SDK by treating both Native Media and Native Banner ads as the same, while Facebook's own SDK does implement them differently (which I suppose is for a good reason)

This is for discussion, of course.

[2018-10-02 08:44] Suraj-Tiwari commented on #122
Obviously your point does make sense the only difference i found i nativead and native banner ad is
the function which add touch event to all the assets within the ad.
In `nativeAd` sdk require media component
in `nativeBannerAd` sdk doesn't require media component
that's the only difference i found within the code.

And if you check native banner carefully (or add media component) it does have me

[2018-10-02 08:51] erandagan commented on #122
Sounds good. If we continue using the current implementation I think it's just important to keep in mind some people use the Native Banner functionality, just in case Facebook decides to introduce more differences between the two in future versions.

Another point - I think we should consider allowing users of this package to style the `AdChoicesView` that is included within `withNativeAd`.

Use c

[2018-10-04 03:00] kyungjoongo commented on #112
how to add target dependency?

[2018-10-04 03:02] Suraj-Tiwari commented on #112
@kyungjoongo see this image https://github.com/callstack/react-native-fbads/issues/112#issuecomment-422994854

[2018-10-06 09:43] erandagan opened #128 "[Discussion] Consider TS Migration"
Main arguments from the Expo team
https://github.com/expo/expo/issues/2164

I'm aware callstack generally use Flow for their typings, but it feels like TS would make it easier for contributors (including myself) to jump in.

We have very few JS files so migrating should be easy.

Thoughts?
@Suraj-Tiwari @Trancever

[2018-10-06 09:49] Suraj-Tiwari commented on #128
No issue for me, TS makes project management easy.

[2018-10-06 10:06] Trancever commented on #128
How about approach we have in `react-native-paper`? We use flow but we have also typings for typescript. Check this (PR)[https://github.com/callstack/react-native-paper/pull/561] and let me know what you think.

[2018-10-06 18:15] leksyib opened #129 "How to load ads in JSON format"
Thank Y'all for this amazing project, It works fine. I just wanted to ask if I can load native ads in JSON format so I can render it among the content that I'm rendering in my app. Thanks!

[2018-10-06 18:30] leksyib commented on #129
@Suraj-Tiwari Thanks for your response! So how do you suggest I render the ads alongside a flatlist component, and the ads stay inside the flatlist?

[2018-10-06 18:38] Suraj-Tiwari commented on #129
Use logic in list item, and render native ad in between of them

Easiest workaround is

// put condition for every n number of item
<view/>
// native ad
// list item
<view/>

[2018-10-06 19:13] leksyib commented on #129
@Suraj-Tiwari  Thanks! That's it.

[2018-10-06 19:13] #129 closed

[2018-10-07 08:46] erandagan commented on #122
#130
Closing

[2018-10-07 08:46] #122 closed

[2018-10-08 07:57] Trancever commented on #128
@erandagan @Suraj-Tiwari I know it might be really hard and painful to keep both typings in sync but this project does not contain a lot of js files so we should try to maintain both of them. Let's for now switch to typescript and make the library stable. Once it's done we will think about maintaining flow typings also. Is this plan ok for you?

[2018-10-08 08:08] Suraj-Tiwari commented on #128
Looks good to me

[2018-10-08 09:43] Suraj-Tiwari commented on #128
Please Make it on beta branch and keep pushing so i can work on same..

[2018-10-10 10:13] yyohanes opened #132 "Blurred Native ads"
Hi there,

I am getting blurred ads with the latest version `5.0.1`.
![20181010_170941](https://user-images.githubusercontent.com/661080/46729463-9f5fd100-ccaf-11e8-819c-06e70ceb963c.jpg)

Wondering if this is a known issue?

[2018-10-10 10:17] Suraj-Tiwari commented on #132
Yup this is known and we already have a discussion going on with Facebook
about this issue, because something in Facebook Audience SDK is causing
this issue.

[2018-10-10 10:38] yohanes1989 commented on #132
Do you have suggestion to workaround this maybe?

[2018-10-10 10:58] Suraj-Tiwari commented on #132
According to the Facebook team that is working fine there side, they wasn't
able to reproduce the error, something else is causing issue. We are still
working on it to resolve the issue

[2018-10-10 11:03] yohanes1989 commented on #132
Right. Thanks. I'll try to debug as well and see if I find anything.

[2018-10-10 15:19] dannyyaou opened #133 "dyld: Library not loaded libios-sdk_ads_src_FBAudienceNetwork_FBAudienceNetworkRelease.dylib"
**Version**

"react-native": "^0.40.0"
"react-native-fbads": "^5.0.1",

**Problem**

After building successfully, my app can not really start with this error log:

dyld: Library not loaded: @rpath/libios-sdk_ads_src_FBAudienceNetwork_FBAudienceNetworkRelease.dylib
  Referenced from: /Users/USERNAME/Library/Developer/CoreSimulator/Devices/1FC8A1EA-C331-4E58-A4DF-39D104FF6E5F/data/Containers/Bundle/

[2018-10-10 15:22] Suraj-Tiwari commented on #133
Using pods? and latest xcode?

[2018-10-10 15:22] dannyyaou commented on #133
I don't use pods
Xcode version is Version 10.0 (10A255)

[2018-10-10 15:54] Suraj-Tiwari commented on #133
Please use pods without it its really complicated to make it worked
correctly

[2018-10-12 09:38] #114 closed

[2018-10-12 09:41] erandagan commented on #128
@Suraj-Tiwari I don't have permissions for that.
The code is under my fork on `migrate-to-typescript` branch.

The major work is done, I could use some help in testing and fixing the last typescript errors in `withNativeAd`.

[2018-10-12 09:43] Suraj-Tiwari commented on #128
Please push all untested code to beta branch, we'll test from there and merge it to master after testing.

[2018-10-12 10:13] Trancever commented on #128
@erandagan I see you are actively working on making this project better. Would you like to be in a core team and have direct access to repo?

[2018-10-12 10:42] erandagan commented on #128
@Trancever Yes, that sounds good. Once I have the permissions I'll push the typescript branch to the main repo so we can test it and fix the last TypeScript errors, most of which are related to the `clickableChildrenNodeHandles` member in `withNativeAd`

[2018-10-12 10:55] erandagan commented on #132
@Suraj-Tiwari Can this be related by any chance to the empty MediaView in withNativeAd?
Just guessing here, but maybe it's worth checking without it and seeing if the problem persists.

[2018-10-12 10:57] erandagan commented on #110
If you reverted back on git, ran `npm` or `yarn` and still having issues, this can't be related to this package.

Try removing your node_modules and running a clean installation according to the lockfile.

[2018-10-12 10:59] erandagan commented on #107
This question is referring to an outdated version of this package (react-native-fbads@4.2.3)
Please upgrade and see if the issue persists.
There's some active work going on to stabilize the code and the docs, contributions are welcome.

[2018-10-12 11:10] Suraj-Tiwari commented on #132
@erandagan me and one of my fellow developer check all possible scenarios, issue isn't with empty media view, as code is working fine with ios, issue is with android sdk (current unetest senario), facebook team is working on it to trace the issue.

[2018-10-12 11:51] Trancever commented on #128
@erandagan Sent an invitation.

[2018-10-12 12:52] erandagan commented on #128
@Suraj-Tiwari The branch is now available in the main repo, feel free to make any changes :)

[2018-10-12 12:54] erandagan commented on #101
The newest version of this library works with 4.99+

[2018-10-12 12:54] #101 closed

[2018-10-12 12:54] #107 closed

[2018-10-12 12:55] erandagan commented on #104
This issue refers to an old version of this package. Native ads are working as expected, if you're still having trouble feel free to open a new issue with repro.

[2018-10-12 12:55] #104 closed

[2018-10-12 12:55] erandagan commented on #100
Stale, closing

[2018-10-12 12:55] #100 closed

[2018-10-12 12:56] erandagan commented on #94
This is an old issue which uses an outdated version of this package. If you're still having trouble with the newest version, please open a new issue and provide reproduction steps.

[2018-10-12 12:56] #94 closed

[2018-10-12 13:00] erandagan commented on #90
This newest version of this package uses the 4.99 SDK.

[2018-10-12 13:00] #90 closed

[2018-10-12 13:01] erandagan commented on #86
Use `TriggerableView` to select which views should react to interactions.

[2018-10-12 13:01] #86 closed

[2018-10-12 13:02] #77 closed

[2018-10-12 13:03] erandagan commented on #84
This is an old issue which uses an old version of this package. If you're still having trouble after upgrading, please open a new issue and describe the error you're getting.

[2018-10-12 13:03] #84 closed

[2018-10-12 13:04] erandagan commented on #83
Please submit an example of your usage. Are you using native / banner / interstitial ads?

[2018-10-12 13:05] erandagan commented on #63
Closing as this issue is referring to an old version of this package. If you encounter it after upgrading to the latest version, please open a new issue with reproduction.

[2018-10-12 13:05] #63 closed

[2018-10-12 13:07] erandagan commented on #99
Closing this issue as it refers to an old version of this package. If you're still having trouble after upgrading, please open a new issue.

[2018-10-12 13:07] #99 closed

[2018-10-12 13:09] #110 closed

[2018-10-12 13:09] Suraj-Tiwari commented on #83
First of all that for old version second facebook use heavy target filtering (age,gender,region,profession,recent likes and 50 others filters)  so that can be a factor.

[2018-10-12 18:33] erandagan commented on #96
This issue is stale, closing. If you're still having it, try upgrading to the latest version of this package.

[2018-10-12 18:33] #96 closed

[2018-10-12 18:35] erandagan commented on #61
The latest version of this package should be working. If you're still having trouble, please open a new issue with full reproduction. Thanks!

[2018-10-12 18:35] #61 closed

[2018-10-12 18:36] erandagan commented on #76
This issue is quite old and references an old version of this package. BannerView should be working as expected with the current version.

[2018-10-12 18:36] #76 closed

[2018-10-13 10:54] Suraj-Tiwari commented on #25
issue related to older version.

[2018-10-13 10:54] #25 closed

[2018-10-13 10:56] Suraj-Tiwari commented on #33
related to older version

[2018-10-13 10:56] #33 closed

[2018-10-13 11:00] #83 closed

[2018-10-14 13:15] Trancever commented on #128
@erandagan Could you also set up running typescript checks on CI?

[2018-10-14 13:52] erandagan commented on #128
@Trancever good idea, I hope I'll get to it this Friday.

[2018-10-14 14:38] erandagan opened #135 "[Feature] Make Custom Views Triggerable"
Currently, `TriggerableView` only supports a single hardcoded child which is a `Text` node. This prevents users from including custom components in the native ad, most noticeably a custom Button component for the ad's click action (eg. *Install Now* button).

Also, users may already have their own set of components in place (eg. a `<MyText>` component with styling that matches their app, or a `<My

[2018-10-14 14:43] Suraj-Tiwari commented on #135
I have tried that, having nested triggerable component is creating issue with native code, as native code have to register view id to make it trigger specific event.

[2018-10-14 14:45] erandagan commented on #135
Nesting of Triggerables inside Triggerables (if I understand your reply correctly) isn't required, just having something like this:

[code]

[2018-10-14 14:46] Suraj-Tiwari commented on #135
with this code ad will show but won't take trigger event on text tested on `4.99.1`

[2018-10-14 14:47] Suraj-Tiwari commented on #135
and i'm talking about nesting `View` inside `Triggerable` as `Triggerable` is also a view

[2018-10-14 14:47] erandagan commented on #135
So you're saying that the FB SDK won't fire clicks related to React managed ViewGroups?

[2018-10-14 14:49] Suraj-Tiwari commented on #135
I made it like the way you said, it wasn't working. Nesting text directly inside Triggerable worked.

[2018-10-14 14:50] erandagan commented on #135
@Suraj-Tiwari Hmmm, I don't think there should be a specific issue here as the native iOS SDK does allow registering custom (iOS native) views, so we should be able to bind the container view in one way or another

[2018-10-14 14:53] Suraj-Tiwari commented on #135
issue was occurring in this function with android. and making 2 different method for a component is a dirty practice. While debugging it was able to register the triggerable but wasn't initiating.

https://github.com/callstack/react-native-fbads/blob/2810b277a7742a8d3a280c62e3a76b8871daa18f/android/app/src/main/java/suraj/tiwari/reactnativefbads/NativeAdManager.java#L147

[2018-10-14 14:57] Suraj-Tiwari commented on #135
As mostly i'm tight on schedules and i was working alone. But currently you are working too, I might me able to trace the exact issue.

[2018-10-14 15:07] erandagan commented on #135
Great, if you find anything interesting feel free to share it in this issue

[2018-10-14 15:08] Suraj-Tiwari commented on #135
Yeah sure.

[2018-10-14 16:29] erandagan commented on #92
This is no longer relevant I believe

[2018-10-14 16:29] #92 closed

[2018-10-14 16:34] erandagan commented on #75
PRs are welcome

[2018-10-14 16:55] Suraj-Tiwari commented on #75
there is bro... initializing it loads ads immideatly...

[2018-10-15 12:59] #97 closed

[2018-10-16 19:08] dannyyaou commented on #133
Thanks, I'll try

[2018-10-17 10:49] #133 closed

[2018-10-18 06:37] ducpt2 opened #137 "[Admob Mediation] How to work with Mediation of admob?"
I have a question, does we need to do anything more to work with Mediation of admob?

Thank a lots.

[2018-10-18 15:22] ViraRodionova opened #138 "Native ads: got object with empty fields"
Hello everyone!

I have an issue with the native ads on Android.

When I ask for test ads from facebook all works great. But when I'm trying to request the live(productions) ads, always receive an object with null values.
But on iOS all works fine as for test ads, as for live ads.

Have any ideas why does it happen?

Dependencies:
* "react-native": "0.54.2"
* "react-native-fbads": "5.0.1"
* "react

[2018-10-19 09:57] erandagan commented on #138
Hi there,
Few questions:

Could you please attach a sample of your usage?
Are you compiling in Dev or Release when this issue appears?
Did you submit your integration to Facebook for review?

[2018-10-19 10:59] ViraRodionova commented on #138
@erandagan

**1) Facebook review**
Both apps (iOS, Android) are already passed review and had `Active` status

**2) Test Devices Page**
* Testing enabled -> `true`
* Use real advertiser content -> `true`
* both devices are added as test devices

**3) Facebook app**
no matter if it is installed or not

**4) Are you compiling in dev or release when this issue appears?**
Android - both

**5) Usage**

[2018-10-20 10:44] erandagan commented on #138
Not sure why the FB SDK fails to load an ad (the `Ad not loaded` log isn't coming from this library), but we should handle that case better that's for sure (not render the ad at all and provide a failure callback).

@Suraj-Tiwari any guesses what can cause such failure in the first place?

[2018-10-20 11:34] Suraj-Tiwari commented on #138
Well, according to my information ads are showing in production, as I'm
working on resolving blurry Media image issue on production ads, production
ads are working fine. Just media is a bit blurry, but as this issue is
raised I'll check it on my side for possible issue

[2018-10-20 11:37] Suraj-Tiwari commented on #138
According to my information user must have Facebook app installed. To show
live ads

[2018-10-22 08:42] ViraRodionova commented on #138
@Suraj-Tiwari @erandagan
I've checked the app at another devices. It work as it is described at https://developers.facebook.com/docs/audience-network/testing/ .
And I think, that all is ok now.

But using that one device, I still receive the object with empty fields.

[2018-10-22 16:49] Suraj-Tiwari commented on #138
Might be because of your device is blacklisted due to improper loading or
invalid production testing.
Please confirm with Facebook support team.

[2018-10-22 20:17] erandagan commented on #138
@Suraj-Tiwari anyway I think that this case should be handled by the library in a safer manner, invoking an error callback or passing some sort of error prop to the user's component to prevent unexpected behaviour on such cases, which can lead to crashes that are hard to trace.

[2018-10-23 07:35] #128 closed

[2018-10-23 18:08] Suraj-Tiwari commented on #138
@erandagan there will be no crash in case of no ads. If you have any plan we can go with it.

[2018-10-24 01:37] a26364177 opened #140 "yarn add react-native-fbads different source code"
After I finished install,
My src file is different from github source.

exp: My AdChoicesManager.js
[code]

[2018-10-24 07:17] erandagan commented on #138
The user's code may very well crash since it does not expect to get a
native ad prop that's empty. For instance, trying to get the length of the
ad description will lead to a crash.

I'll try to look at the flow and see what we can do to prevent this.

On Tue, Oct 23, 2018, 21:10 Suraj Tiwari <notifications@github.com> wrote:

[2018-10-24 11:31] Trancever opened #141 "Upcoming release."
@erandagan @Suraj-Tiwari
Hi guys, I would like to discuss what should be done before we release new version of fbads. Is there anything really important that we should address before release?

[2018-10-24 11:52] Suraj-Tiwari commented on #141
Yeah. fully test it and review it, i slightly checked it but due to busy
schedules i wasn't able to review it completely

[2018-10-24 12:37] Suraj-Tiwari commented on #141
This library isn't like we can go with unstable version. We should make it
stable enough so that won't cause any problems with any project. Random
crashes can affect app reputation.

[2018-10-24 12:52] erandagan commented on #141
I referred to API stability, not to code stability. The API may break in future versions, it does not mean that the code itself will crash your app.

[2018-10-24 13:07] Suraj-Tiwari commented on #141
I was referring to code stability. :P

[2018-10-24 17:14] erandagan commented on #141
Cool. Anyway, I think that the following is required:
- A list of breaking changes. This can be copied from my own pull requests which introduced them.
- A note stating this library is undergoing some changes at the moment, which may lead to breaking some APIs

Also, we can consider making this an RC release so we can continue introducing breaking changes without breaking any dependencies for the

[2018-10-24 17:42] Suraj-Tiwari commented on #141
this will be good. releasing it as beta

[2018-10-25 13:08] Suraj-Tiwari commented on #141
@erandagan for npm release we can just publish distribution for better performance rather than source code. How is it?

[2018-10-26 10:24] Jobeso opened #144 "[iOS] production build error - library not found"
## Environment
[code]

## Description
[code]

When building for production release with this library I encounter this problem on iOS. Android is working fine. I am using the newest version from npm but it also happens with the master branch.

When setting `Build Active Architecture Only` to `YES` in XCode `Build Settings` and building for an iPhone 7 iOS 12 everything works fine. This is not a sol

[2018-10-26 17:35] erandagan commented on #144
Had the same issue myself, take a look at #145

[2018-10-27 04:08] Suraj-Tiwari commented on #144
@erandagan was working for me because no configurations conflict. 🤣 I'll have a look at it

[2018-10-27 11:02] erandagan commented on #135
@Suraj-Tiwari did you have the chance to look into this?

[2018-10-27 11:07] #144 closed

[2018-10-27 11:09] Suraj-Tiwari commented on #135
@erandagan I'll busy at my office for some days. I'll check after some days.

[2018-10-27 18:13] Jobeso commented on #144
@erandagan I can confirm that this fixes the problem. Thanks for the quick help!

[2018-10-28 14:02] JoraCardan opened #146 "[android] cannot find symbol import com.facebook.react.uimanager.UIBlock"
Hello there,

I'm struggling to run the android app.
First the app was building but instantly crashing on my device, then I've updated `react-native` to the latest _stable realease_, now though the app is not building throwing the following error:

[code]

My `react-native info`
[code]

Any help would be highly appreciated, as I'm struggling with react-native and ads for a while now. If you need m

[2018-10-28 14:05] Suraj-Tiwari commented on #146
Something wrong with gradle. Tried checking version conflict?

On Sun, Oct 28, 2018, 7:32 PM Constantin Melniciuc <notifications@github.com>
wrote:

[2018-10-28 14:06] JoraCardan commented on #146
How do I do that? :)

[2018-10-28 14:08] JoraCardan commented on #146
Ok I believe that's what you need:

android/build.gradle
[code]

android/app/build.gradle
[code]

[2018-10-28 14:51] JoraCardan commented on #146
As a side note, on iOS it runs just fine

[2018-10-28 20:17] JoraCardan commented on #146
@erandagan Please have a look into this log

<details>
<summary>dump ./gradlew app:dependencies</summary>
<p>

[code]

</p>
</details>

[2018-10-28 20:28] JoraCardan commented on #146
@erandagan oh damn, I miss-merged that.. damn, that was real stupid. Thanks a lot!

[2018-10-28 20:28] #146 closed

[2018-10-29 10:36] erandagan opened #147 "[WIP] Update Example"
The example project in this repo is outdated and requires some changes in order to work with the current version of this library.

Any contributions would be appreciated.

[2018-10-29 11:56] erandagan commented on #141
We can go ahead and release a beta / RC now.

[2018-10-29 12:15] Suraj-Tiwari commented on #141
Yeah everything is ready to released.

[2018-10-30 04:50] a26364177 opened #149 "AdIconView and MediaView are very laggy in Flatlist.(iOS)"
[AdIconView in Flatlist](https://youtu.be/oGpZvFLrVB8)
[Without AdIconView](https://youtu.be/Lajc0tTLMdg)

It works very good, without AdIconView in Flatlist.
Facebook Audience Network SDK 5.0.2
My react-native-fbads lib use Github version.

[code]

[2018-10-30 08:36] Suraj-Tiwari commented on #149
Flatlist always have some issue if list item have multiple Triggerable
component.
Didn't tested it with latest but was definetly an issue with older version.

Still i would like to see your implementation. With your Flatlist code.

[2018-10-30 14:09] Jobeso commented on #141
Hey guys, you are developing an awesome library here. I am using an older version of it in production. When trying out the newest beta I encountered a few things. Where should feedback to the newest beta be posted and are there any docs about the changes yet?

[2018-10-30 14:13] erandagan commented on #141
Thanks. To use the latest version checkout the master branch (the beta branch is actually outdated) which also has up to date documentation.

If you have feedback or you encounter any bugs, just submit an issue in this repo.

[2018-10-30 14:19] Jobeso commented on #149
I encounter the same problem with the latest npm release (not the beta version) on iOS. This still occures after refactoring the item to use only one TriggerableView. I think the mayor problem are video ads, for ads with images the performance works decent.
This even applies for only one ad in the whole flatlist.

[2018-10-30 14:22] erandagan commented on #149
This actually happens even without media ads - simply having the AdIconView causes a performance issue. Maybe Facebook's touchable registration is somehow interfering with FlatList's gesture handling?

[2018-10-30 14:56] Suraj-Tiwari commented on #149
Well Not with ads but during some work i found Flatlist have some issue
with literally any Touch event. Other than list item. In current version 🙄

[2018-10-30 19:02] erandagan commented on #149
@a26364177 Could you pop up the React Native performance overlay to see if the FPS really does drop, or is it just the two touch systems interfering with one another, causing scrolling issues?

[2018-10-31 04:01] a26364177 commented on #149
[AdIconView in Debug Mode](https://youtu.be/E8d-gjTBOrM)

React Native: v0.57.0
Device: iOS 12.0 iPhone 6s Plus

[code]

[2018-10-31 09:04] mahesh963 opened #150 "Native Ads are not Display in Android"
Hi, to everyone. I am using **react-native-fbads** in my project. I have followed the instructions and done the linking successfully.
Created the Component for Native Ads to use the custom styles in my ListView as a Record. I have generated the Placement Id for Native Ads. Even though my App is reviewed successfully and I got status as Ready to Publish in [https://developers.facebook.com](url) in

[2018-10-31 12:18] Suraj-Tiwari commented on #141
@Trancever @erandagan all pr are meged i've tested (without last pr).
Proceed to release `rc v6`?

[2018-10-31 13:28] erandagan commented on #149
It looks like both the UI and JS threads are choked here. I'll try to investigate further this weekend.

[2018-10-31 13:50] Trancever commented on #141
@Suraj-Tiwari @erandagan If we are happy with current status of the lib then yes, but if we want to introduce more breaking changes in near future i would rather wait with the release.

[2018-10-31 14:31] Suraj-Tiwari commented on #141
I'm busy for this week only after that I'll have time.
If there are any plans for implementing Tests and some pre-built
implementation/view to make process fast and less complex. That will be
super efficient i guess.
What you think?

[2018-10-31 15:53] erandagan commented on #141
@Trancever I think it's a good idea to release an RC so people can give this a shot and post their feedback, it will allow us to iterate quickly towards a stable release with a stable API.

I don't expect breaking changes for now, except maybe in the TriggerableView area?

[2018-10-31 21:54] erandagan commented on #150
Hi there,
Could you please:
- Specify which version of the library you're using
- Attach a code sample of your usage

[2018-10-31 23:06] Suraj-Tiwari commented on #150
@mahesh963
Please confirm if you have removed `AdSettings.addTestDevice(AdSettings.currentDeviceHash);` and using a **production build on real device** and _facebook app on your real device isn't related to your developer account_  also make sure to execute this `AdSettings.clearTestDevices();` once.

[2018-11-01 05:38] mahesh963 commented on #150
hi @erandagan thanks for your reply

- I am using "react-native-fbads": "^5.0.1"
- Below is my **sample code** please check it once
[code]

- I have done a **NativeAdView**(`<NativeAdView />`)  as a Component and used in Another Screen as

[code]

[2018-11-01 06:17] a26364177 commented on #150
1.Make sure you are using a physical device instead of a simulator.
2.Confirm that the Facebook app is installed on your test device.
3.Confirm that you (FB account) have used the enterprise management platform employee status currently set in the "Enterprise Management Platform Settings" to log in to the Facebook application from the test device.

[2018-11-01 14:11] Suraj-Tiwari opened #151 "[IOS] Adchoice offset issue"
Current Adchoice rendering is not showing without zIndex and offset is also going out of screen

[2018-11-01 14:11] Suraj-Tiwari commented on #151
@erandagan current implementation has some flaw in it

[2018-11-01 14:37] erandagan commented on #151
Could you attach a screenshot? I've tested without any zIndex and everything works as it should.

[2018-11-01 15:37] Suraj-Tiwari commented on #151
@erandagan found the issue updated docs and some fix #152

[2018-11-01 15:37] #151 closed

[2018-11-05 20:12] raphaeleidus opened #153 "What changed between version 4 and version 5"
I can't find any documentation on how the APIs or behavior changed between 4 and 5.

there is a major crash affecting the last public release of the major version 4 so I would like to use a more current version but I am not seeing what the changes were for 5 to know how to go about upgrading. Am I missing something?

[2018-11-05 21:51] danrevah opened #154 "Can't see ads on android device"
I wasn't able to see the ads on my android device.

I'm using: `react-native run-android --variant=release`.
and on the monetization manager in facebook I see: "our Android app meets Audience Network policy and is ready to begin monetizing."

Am I suppose to do anything else before seeing the ad? in IOS simulator i'm seeing the test ad.

[code]

[2018-11-06 07:42] Trancever commented on #153
@raphaeleidus We don't have migration guide unfortunately. Basically whole library was rewritten and there were a lot of breaking changes, so the best option is to follow readme and integrate lib once again.

[2018-11-06 07:54] Trancever commented on #141
@erandagan @Suraj-Tiwari Version 6.0.0-RC landed on npm :)

[2018-11-06 08:09] Suraj-Tiwari commented on #141
Did you merged my pr? or it's still pending?

[2018-11-06 08:10] Suraj-Tiwari commented on #141
Anyway that's great I'll check out this one.

[2018-11-06 19:31] danrevah commented on #150
@a26364177 It seems like i'm having the same issue.. but I don't understand your third check: "Confirm that FB account have used the enterprise managment platform employee status currently set in the..?" .. wait what? what exactly do I need to check?

[2018-11-07 01:06] a26364177 commented on #150
@danrevah Your FB account need to add in Monetization Manager admin. And use Advertising debugging tool to get real test ad request in Monetization Manager.
Sorry for my poor english.

[2018-11-07 04:29] danrevah commented on #150
Ok I did it but I can't see anything on my android app.. still no ad is shown

[2018-11-07 11:51] danrevah commented on #154
My issue was related to where I placed it on the page. In iOS it worked but not in android.

[2018-11-07 11:51] #154 closed

[2018-11-07 11:54] danrevah opened #155 "Android app stuck while ad not loading."
I've got an ad on my main page and occasionally the ad is not loading probably due to the fact facebook is not always serving ads.. in this case the app is getting stuck and I cant xclick anything.

any ideas?

[2018-11-07 11:56] danrevah commented on #150
I was able to debug using the way you showed me and I found the issue..
It was related to where I placed it on the page and for some reason it was only working for iOS.

Now its working.. Thanks!

[2018-11-07 11:56] Suraj-Tiwari commented on #155
According to my information If there is no ad from Facebook, your app will
continue to work without any issue.

[2018-11-07 11:57] danrevah commented on #155
This is only happens to me while using Android.

[2018-11-07 12:07] Suraj-Tiwari commented on #155
Can you share logcat?

[2018-11-08 13:37] Jobeso opened #156 "[v6 rc] Not able to use new rc - Error: this package itself specifies a `main` module field that could not be resolved"
When trying out the newest release from npm I encounter this error.
`this package itself specifies a 'main' module field that could not be resolved`

<details><summary>stack trace</summary>
<p>

[code]

</p>
</details>

So I thought of transpiling it because it looks like the ts files are not transpiled. When executing `yarn tsc` I get the following errors:

<details><summary>stack trace</summary>

[2018-11-08 13:38] Jobeso commented on #132
Are there any updates on this because this makes the facebook ads not usable on android?

[2018-11-08 14:29] Suraj-Tiwari commented on #156
Pleas confirm files on corresponding location. Issue could be related to Ts
lint compile.

go to 'node_modules/react-native-fbads'
run 'npm install --only=dev'
then run 'npm run tsc'

[2018-11-08 14:31] Suraj-Tiwari commented on #156
I hade same error while compiling but somehow it compiled.
I'll try to have a look at it tomorrow

[2018-11-08 17:52] Jobeso commented on #156
Thanks for the suggested fix. Still fails for me. The packager gives the following error but the first mentioned error is gone. The transpile warnings still occur. Build fails, too.

<details><summary>stack trace</summary>
<p>

[code]

</p>
</details>

[2018-11-09 06:20] Suraj-Tiwari commented on #156
@erandagan  I've tested it, looks like there is some issue. Can you test it from your side?

[2018-11-09 08:08] erandagan commented on #156
Hey, a few things:
1. @Trancever Did you transpile TS to JS prior to publishing?
2. @Jobeso
It seems like these errors come from the React Native type definitions and not ours. We should probably configure TS to ignore those. PRs welcome :)

Anyway, TSC should compile the files even if these errors arise and you should be able to use the package.

[2018-11-09 08:09] erandagan commented on #155
@danrevah Please share your usage - are you using Native Ads, Banners or something else?

[2018-11-09 08:09] #153 closed

[2018-11-09 08:14] erandagan opened #157 "[Discussion] Issue Template"
I think it's time to introduce an issue template to save some of the common ping pong comments.

I was thinking about requesting the following:
1. Module used [Native ads | Banner Ads | Interstitial ads]
2. Does the problem arise in dev or production? Dev being the current device registered as a test device, production being a release build on any other device.
3. Do you have the Facebook app inst

[2018-11-09 08:16] erandagan commented on #138
@ViraRodionova Can we close this now that your PR is merged?

[2018-11-09 08:18] erandagan commented on #137
As of now, AdMob mediation isn't supported by this library. I don't think it will be added, as it requires a tight native integration and essentially requires another library.

[2018-11-09 08:18] #137 closed

[2018-11-09 08:29] Suraj-Tiwari commented on #138
@erandagan tested will null response situation?

[2018-11-09 08:34] Trancever commented on #156
@Jobeso Could you check if it still happens on 6.0.1-RC version?

@erandagan I didn't so it was probably the issue.

[2018-11-09 09:06] #157 closed

[2018-11-09 09:12] danrevah commented on #155
Banner ads

[2018-11-09 09:18] erandagan commented on #138
@Suraj-Tiwari I failed reproduce the bug, could be that it simply didn't happen or it was fixed. That's why I'm checking with @ViraRodionova who've encountered this in the first place :)

[2018-11-09 09:49] erandagan commented on #74
Is this issue still relevant? Expo has [FacebookAds](https://docs.expo.io/versions/latest/sdk/facebook-ads) based on an older version of this library.

[2018-11-09 09:57] erandagan commented on #156
@Jobeso Could you try checking out the master branch for now, until the next RC is published?

[2018-11-09 09:58] erandagan commented on #155
Please update your issue according to the new issue template. Thanks!

[2018-11-09 11:36] Suraj-Tiwari commented on #74
Anyone had a talk with expo about this?

[2018-11-09 12:40] Trancever commented on #74
Once lib is stable we can talk with them about new version.

[2018-11-10 10:00] erandagan commented on #141
@Trancever
How about we submit a 6.0.0-RC2 release with the fixed dependencies and transpiled TS files?

[2018-11-10 10:08] Suraj-Tiwari commented on #141
This one is fully tested or unlike previous build?

[2018-11-10 19:32] danrevah opened #161 "library not found for -lReactNativeAdsFacebook"
# Bug Report

**Before opening**

- Did you try the latest release? Yes
- Did you look for existing issues? Yes, found a pull-request for this issue so I've updated to `v6.0.2-RC`.

**Platforms**

IOS

**Versions**

- Android:
- iOS:
- react-native-fbads: 6.0.2-RC
- react-native: 0.56.1

**Current Behaviour**

While trying to compile using xcode i'm getting the following error:
`library not found

[2018-11-10 19:33] erandagan commented on #161
Did you integrate the facebook SDK as required and added the Audience Network pod?

[2018-11-10 19:45] danrevah commented on #161
Yes.

Podfile:
[code]

`pod install` output:
[code]

[2018-11-10 20:19] danrevah commented on #161
1. Okay so used to work in simulator (debug mode). but after I changed to Podfile to contain 'FBSDK*'
It started throwing other errors as well in debug mode:

[code]

I'm not an expert in xcode so can you explain 2+3?

[2018-11-10 20:30] erandagan commented on #150
@mahesh963 are you still experiencing this issue?

[2018-11-12 14:48] Jobeso commented on #156
So I was able to use the master branch after forking and changing the package version to semver convention `6.0.2-rc.1`. So I suggest handling upcoming rc versions like that. Before that `yarn` wouldn't let me install from the repo.
Now I am able to successfully build even with the ts errors on transpiling.
Thanks for the help!

[2018-11-12 14:48] #156 closed

[2018-11-12 18:15] #161 closed

[2018-11-12 18:15] #155 closed

[2018-11-12 18:17] danrevah opened #163 "Failing while trying to compile android release"
# Bug Report

**Before opening**

- [x] Did you try the latest release? 6.0.2-RC
- [x] Did you look for existing issues? Yes

**Ad Modules**
Banner Ads

**Platforms**
Android

**Versions**
- react-native-fbads: 6.0.2-RC
- react-native: 0.56.1

**Ads Environment**

`react-native run-android --variant=release`
throws the following error:
[code]

[2018-11-12 21:29] danrevah commented on #163
Done.

[2018-11-13 06:53] #163 closed

[2018-11-13 20:16] erandagan opened #166 "Add Native Compilation to CI"
To ensure PRs don't break the native project compilation, we need to add the following steps to our CircleCI configuration:
- [ ] Adapt the Example project to v6 (#147)
- [ ] Compile the native example project on iOS
- [ ] Compile the native example project on Android

Any contribution on that matter (and the related #147) will be very appreciated.

[2018-11-14 07:51] Suraj-Tiwari commented on #141
@erandagan @Trancever
Recently I've seen Some issue related to Rc-release With some common issue, I think we should have a checklist before releasing.

[2018-11-14 07:51] Suraj-Tiwari commented on #147
I'm working on it

[2018-11-14 07:52] erandagan commented on #141
Not really a checklist, but tighter CI integration. I've opened an issue for that yesterday.

[2018-11-14 07:56] Suraj-Tiwari commented on #141
Anyone working on it?

[2018-11-14 07:58] erandagan commented on #141
I don't think so

[2018-11-14 08:29] Suraj-Tiwari commented on #141
I don't have that much knowledge of Ci, so you or Someone else have to do.

[2018-11-14 08:31] Trancever commented on #141
@erandagan @Suraj-Tiwari I published 6.0.0-rc.3 with latest fixes.

[2018-11-14 19:56] erandagan commented on #147
Awesome :)

[2018-12-02 09:59] #150 closed

[2018-12-04 11:48] mahesh963 opened #168 "MediaView is not showing until clicks on the Screen"
# Bug Report

**Before opening**

- [ ] Did you try the latest release?
No
- [ ] Did you look for existing issues?
yes

**Native Ads**

**Platforms**

*Android Version

**Versions**
- react-native-fbads:^5.0.1
- react-native:0.56.0

**Ads Environment**

- Facebook app installed: Installed
- Happens in production :  released build
- Facebook review status: approved

**Current Behaviour**

I Impleme

[2018-12-04 11:53] Suraj-Tiwari commented on #168
Please try latest release first.
Also Share your code

[2018-12-04 12:53] christenpro commented on #168
**@Suraj-Tiwari** also getting blurred image in MediaView.

[2018-12-04 13:03] Suraj-Tiwari commented on #168
Blurred Media Image is known issue, But "Image or other media Not showing"
we haven't faced it while testing.

[2018-12-08 09:56] erandagan opened #171 "Support AdOptionsView"
Starting at Audience Network 5.1.0, Facebook deprecated `AdChoicesView` and added a more robust and customisable `AdOptionsView`, which is very similar both in usage and in the looks.

We need to create a new view adapter for the added `AdOptionsView`. It will probably be a very similar implementation to `AdChoicesView`'s native adapter, so most of the existing code can be reused.

[2018-12-08 10:00] erandagan commented on #147
Hey @Suraj-Tiwari, did you have the chance to proceed with this? Thanks!

[2018-12-08 10:04] erandagan opened #172 "Impressions not logged within ScrollView / FlatList"
**This is not a bug in this library, but more of a compatibility warning between React Native and the current native FB Audience Network SDKs.**

#### Short Background
When running Native Ads, Facebook's SDK tries to figure out exactly when a user sees an ad. For example, if an ad is shown inside a scrolling view, Facebook would ideally log an impression only if the ad was actually visible to the

[2018-12-08 10:42] Suraj-Tiwari commented on #147
I'm working of frequent crashes In some implementation.
Sometime it randomly crash. Still trying to trace the reason.

[2018-12-08 11:34] erandagan commented on #147
@Suraj-Tiwari Possibly related to #170?

[2018-12-11 03:20] king804 opened #173 "Is that need user login facebook account?"
Is that require user login facebook account?

[2018-12-11 04:15] mahesh963 commented on #168
Hi @erandagan, i'm still getting the Fix Double value crash Issue and Media View is not loading Initially

[2018-12-11 07:17] erandagan commented on #168
Did you try the version on master? I deployed the fix to a large scale
production app and it seems to work flawlessy.

On Tue, Dec 11, 2018, 06:15 mahesh963 <notifications@github.com wrote:

[2018-12-11 08:10] erandagan commented on #173
Questions should be asked on StackOverFlow.

[2018-12-11 08:10] #173 closed

[2018-12-11 08:11] Suraj-Tiwari commented on #172
Previously I contacted FB Audience team regarding blurry media view,
They Were lazy, Their response feels like they don't give a damnn about
React Native Compability.
And their sdk have so many issue with React Native.

[2018-12-11 08:22] erandagan commented on #172
That's really disappointing given how heavily Facebook invests in React Native. It appears that some decision makers in FB's monetisation platform simply don't prioritise RN..

[2018-12-11 09:43] Suraj-Tiwari commented on #172
That's the reason I'm loosing my interest in RN...
If they make something make it useful not only for fulfilling requirements.
Since Released I filed and issue related to Performance When having multi
Touchable in list view. Still not resolved.

[2018-12-11 12:16] Trancever commented on #172
@grabbou @satya164 Do you know someone from Facebook who we could ask about that issue?

[2018-12-11 12:17] Trancever commented on #168
@erandagan Should we release new minor version?

[2018-12-11 13:32] erandagan commented on #168
@Trancever Yes, that would be great 👍

[2018-12-11 15:24] Trancever commented on #168
v6.0.1 landed on npm.

[2018-12-12 17:30] christenpro commented on #168
@erandagan @Trancever Still Double value crash Issue and Media View is not loading Initially

[2018-12-12 18:09] Suraj-Tiwari commented on #168
@erandagan we should recheck it on different scenario, reason could be
android version specific.

i can test on Following Android version (physical devices):
9.0
8.0.1
7.0

[2018-12-12 18:15] erandagan commented on #168
@Trancever Did you remember to transpile to TS before publishing? I just tried installing 6.0.1 and I seem to get the old `dist`, without the bugfix.

@Suraj-Tiwari The code has been tested on >50,000 users in a production app, I don't think it has to do with the Android version.

[2018-12-13 04:13] christenpro commented on #168
@Suraj-Tiwari @erandagan @Trancever  Please check this scenario [https://jsbin.com/qeluraf/edit?output](url)

[2018-12-13 10:15] Trancever commented on #168
@erandagan Didn't do that.. We should have a script that do it before publishing.. Will release 6.0.2 with new dist.

[2018-12-13 10:21] Trancever commented on #168
Check v6.0.2 guys :)
@erandagan  Could you make an issue for that publish process ?

[2018-12-14 15:26] D4m1n0 opened #174 "App Icon removed when install package"
# Bug Report

**Before opening**

- [Yes ] Did you try the latest release?
- [ Yes] Did you look for existing issues?

**Ad Modules**

Entire Package

**Platforms**

Android

**Versions**

- Android: 8.0.0
- iOS: /
- react-native-fbads: 6.0.1
- react-native: 0.57.5

**Ads Environment**

Honor View 10

**Current Behaviour**

I have got an App Icon (ic_launcher), when I follow step by step the insta

[2018-12-15 16:34] christenpro commented on #168
@erandagan @Trancever @Suraj-Tiwari Thank you guys... crashing fixed, But still media view doesn't display until click or scroll down/top. I don't want to display blur media view, i want to show only scroll ads and videos. Is it possible, please let me know...

[2018-12-15 16:44] Suraj-Tiwari commented on #168
Blur media view is issue within AudienceSdk
I had a talk with fb dev team, they said blurry image is a placeholder to
fill remaining space of image to keep original aspect ratio of image, but
somehow sdk is detecting image space as placeholder

ps: They aren't fixing it for react naive.

[2018-12-15 16:52] christenpro commented on #168
@Suraj-Tiwari Thank you for quick response.

What about Carousel ads display in Media View?

[2018-12-15 20:06] Suraj-Tiwari commented on #168
Those were working fine video ads too. When i tested it last time

[2018-12-15 21:13] erandagan commented on #168
@christenpro Is there a chance you're displaying the ad component within a scrolling container, such as `ScrollView` or `FlatList`? There is a known behaviour issue with scrolling components which is rooted in Facebook's SDK (so we can't fix it for now).

Just wondering if you could test in a non-scrolling container and see what happens - I know this isn't a real solution, but this will help us if

[2018-12-15 21:17] erandagan opened #175 "Automated Pre-Publish Compilation"
We should automate the process of transpiling the TypeScript files before publishing to NPM (`yarn tsc`). This should be rather easy to do.

CC @Trancever as requested :)

[2018-12-17 03:37] a26364177 commented on #174
App icon was covered by react-native-fb-ads example project in node_module react-native-fb-ads folder.

[2018-12-20 17:24] pitchourou commented on #174
Same , RN 0.51
Also getting error undefined is not a function

[2018-12-21 17:06] abhaypai2611 commented on #174
Even we are facing the same issue. RN 0.57.1

[2018-12-21 17:18] abhaypai2611 commented on #174
I did `yarn add react-native-fbads` and got a version number of `6.0.2` but I am unable to see any tags given for the same in this repo. I checked the beta branch and I guess the issue lies in https://github.com/callstack/react-native-fbads/blob/d179fe27f2c372261e7f9ef0bd53a34c145035c1/android/app/src/main/AndroidManifest.xml#L6

@Suraj-Tiwari : Can you kindly check and remove the app icon from th

[2018-12-21 18:07] erandagan commented on #174
You can submit a PR that removes the icons files and the launcher reference from the manifest.

[2018-12-21 18:15] Suraj-Tiwari commented on #174
Npm Release Also have example folder?

Manifest issues was already resolved in early stage of development.

[2018-12-21 18:16] erandagan commented on #174
@Suraj-Tiwari  That's odd, I believe [we have an .npmignore in place ](https://github.com/callstack/react-native-fbads/blob/master/.npmignore) to skip the example.

[2018-12-21 18:17] Suraj-Tiwari commented on #174
When Library is added using git developers face this issue. Due to conflict
with example folder.

[2018-12-21 18:31] Suraj-Tiwari commented on #174
@abhaypai2611 you are on wrong branch checkout on master
@erandagan appicon issue doesn't exist in current release of npm

[2018-12-22 02:51] abhaypai2611 commented on #174
@Suraj-Tiwari && @erandagan - My bad! I was looking in the wrong branch.

But I found out some more minor issues after `yarn add react-native-fbads`. Like the package name has changed to `suraj.tiwari.reactnativefbads`. Ideally it should have be something along the lines of `com.reactnativefbads`.
<img width="465" alt="screenshot 2018-12-22 at 7 49 40 am" src="https://user-images.githubusercontent

[2018-12-22 03:53] abhaypai2611 commented on #174
I've never used npm publish before but after reading [this](https://medium.com/@jdxcode/for-the-love-of-god-dont-use-npmignore-f93c08909d8d) article, I believe you can move away from `.npmignore`. It makes sense after looking at this repo as we can whitelist only a few folders and files using the `files` attribute in `package.json`

[code]

Also in the article there's a command `npm pack && tar -x

[2018-12-22 06:52] Suraj-Tiwari commented on #174
Leave package name as it is.
You are on previous branch which is 2 years old
current branch got some breaking changes
Simply unlink previous library and use current one from npm.

[2018-12-22 09:04] abhaypai2611 commented on #174
I did a `yarn install react-native-fbads` which introduced the breaking changes. I try to go down in detail to debug the issue but I think you're best suited for to resolve the issue as I am unaware of the history of this package. Awaiting for a fix.

[2018-12-22 11:41] Suraj-Tiwari commented on #174
You installed older version, using current package from version 5 there is no issue. I wonder what issue you are facing actually. Because all reported issues are related to Media Component or Adchoice Deprecation please create new project and test this library into that project or try running Example app. If you found any bug file an issue. Please provide real issues. [all known issue](https://git

[2018-12-22 11:45] Suraj-Tiwari opened #178 "Delete old deprecated branch to prevent confusion"
Branch
- AdchoiceFix
- Beta

Don't have any useful purpose. Delete those branch and create new Beta Branch and work there. No master update directly this will make release much manageable.

[2018-12-22 11:45] Suraj-Tiwari commented on #178
@erandagan

[2018-12-22 11:46] Suraj-Tiwari commented on #178
#174

[2018-12-22 13:59] abhaypai2611 commented on #174
As I mentioned above, after executing `yarn add react-native-fbads` I got version `6.0.2` installed in my project. Post installing `react-native-fbads` when I tried building my project, the app icon was set to the [default green android icon](https://developer.android.com/studio/images/write/adaptive_icon_wizard.png). Me along with other users in this thread have faced the issue with app icon afte

[2018-12-22 14:06] pitchourou commented on #174
Facing the same issue, doing `yarn add react-native-fbads` i get version 6.0.2, which removes the app icon, and also get this error on startup. I'm doing nothing but importing the Library.

<img width="536" alt="capture d ecran 2018-12-21 a 18 43 07" src="https://user-images.githubusercontent.com/16292971/50375238-9c138a80-05fa-11e9-9f86-57dcab3d99c7.png">

[2018-12-22 15:52] abhaypai2611 commented on #174
It was

[code]

I changed it to

[code]

And my issue was resolved.

[2018-12-22 15:54] abhaypai2611 commented on #174
Kindly check.
https://github.com/callstack/react-native-fbads/blob/0198b5dc82cc1ec9b504bde25f660baae096130e/.gitignore#L51 to https://github.com/callstack/react-native-fbads/blob/0198b5dc82cc1ec9b504bde25f660baae096130e/.gitignore#L55

It should be `ic_launcher.png` not `ic_launcher_round.png`

[2018-12-22 15:55] pitchourou commented on #174
@Suraj-Tiwari thanks for your answer, but got same result.
@abhaypai2611 you bbasically changed the launcher name , not sure it is the solution , is it ?

[2018-12-22 15:57] abhaypai2611 commented on #174
@pitchourou Definitely it's not the solution. A developer should be able to use the app icon of his/her choice. And usually people use `ic_launcher`. I have suggested a fix in https://github.com/callstack/react-native-fbads/issues/174#issuecomment-449579618.

[2018-12-22 16:31] Suraj-Tiwari commented on #174
@abhaypai2611 current android version also support round and square app icons according to launcher. I don't know what you're doing exactly.

`android:icon="@drawable/ic_launcher"` will fix the issue. **note main key is `"android:icon"` not location change it according to your actual icon location.**
If you think **copay paste will work for you** please check stackoverflow.
Current library is used

[2018-12-22 16:39] erandagan commented on #178
Done.

[2018-12-22 16:39] #178 closed

[2018-12-22 16:53] erandagan commented on #174
I'll go ahead and summarize this issue:

- Currently, the package wrongfully [ships with the default launcher icons](https://github.com/callstack/react-native-fbads/tree/master/android/app/src/main/res). **A PR which removes the icons is welcome.**
- There are some other bugs related to `npmignore`. **A PR which whitelists the proper resources to ship is welcome.** [This comment](https://github.co

[2018-12-22 16:55] erandagan commented on #172
The response I received from the Audience Network team says they don't support React Native (which we already know) without any further intention to help solve this problem.

This is a major flaw, and we can't really do anything unless someone at Facebook steps in :(

[2018-12-22 16:56] #138 closed

[2018-12-22 17:32] abhaypai2611 commented on #174
Thanks @erandagan and @Suraj-Tiwari for the quick support.

[2018-12-22 17:36] Suraj-Tiwari commented on #172
@erandagan yeah when i contacted their team regarding mediaView blur images issue, they were ignoring it completely. All the time they were like they aren't interested to support React Native ads at all

Because i think both React Native and Audience network are facebook's product they still don't have any ads library for React Native.
Apart from that google already created Google Ads Module for f

[2018-12-22 17:40] #174 closed

[2018-12-23 17:42] pitchourou opened #180 "undefined function createContext"
getting these errors after fresh install, only importing the module
react-native-fbads@6.0.2
react-native@.51

on the simulator
<img width="522" alt="capture d ecran 2018-12-22 a 15 08 31" src="https://user-images.githubusercontent.com/16292971/50386185-5631f180-06e2-11e9-94c5-821d0af100fd.png">

on the console
<img width="832" alt="capture d ecran 2018-12-23 a 18 33 32" src="https://user-images.g

[2018-12-23 17:49] erandagan commented on #180
We don't support react native versions older than 0.55.

[2018-12-23 17:49] #180 closed

[2018-12-23 17:50] pitchourou commented on #180
should be specified on the doc then

[2018-12-24 05:57] HasnainAD opened #181 "Error while linking with react native link"
# Bug Report

**Before opening**

-  Did you try the latest release?
Yes.
-  Did you look for existing issues?
Yes

**Platforms**
Xcode : Version 9.3.1

**Versions**

- iOS: All versions
- react-native-fbads: ^6.0.2
- react-native: ^0.57.7

**Ads Environment**

**Current Behaviour**
After Installing with

Running

is causing this error

**Expected Behaviour**
The project should run as FacebookSDK

[2018-12-24 06:06] HasnainAD commented on #181
Please tell me the steps to manually link the files.

[2018-12-24 07:10] HasnainAD commented on #46
@efstathiosntonas I have everything in place as you have mentioned but I am still getting this error.
Framework Search Path is
$(SRCROOT)/../node_modules/react-native-webrtc/ios ~/Documents/FacebookSDK $(PROJECT_DIR)

[2018-12-24 07:31] Suraj-Tiwari commented on #46
Using pod?
if not Use pod to add fb audience sdk

[2018-12-24 07:33] HasnainAD commented on #46
@Suraj-Tiwari Wouldn't it have any conflict with existing project resources, as none is added with pod?

[2018-12-24 08:16] Suraj-Tiwari commented on #46
No it won't.
Just make sure to open workspace file generated by pod

[2018-12-24 08:47] nullmu0 opened #182 "Native ads MediaView image blurred and can't click ad"
I successfully created a native ad.
But the MediaView image is blurry and can't jump when clicking on the ad.

"Version": "6.0.2"  for Android

![image](https://user-images.githubusercontent.com/955472/50394615-b2a41800-0799-11e9-98e0-7cacf57696ae.png)

    @observer
    class AdComponent extends React.Component<any> {
        render() {

        console.warn(this.props.nativeAdView)

        retu

[2018-12-24 08:50] Suraj-Tiwari commented on #182
Click on Image and logo is working?
Media Blur is known issue.

[2018-12-24 09:19] junjun16818 commented on #182
Not working！

Click the TriggerableView about 4 times or so, the ad unit will disappear.

[2018-12-24 09:40] junjun16818 commented on #182
Click AdChoicesView  wording

[2018-12-26 06:28] HasnainAD opened #183 "Undefined symbols for architecture arm64: "_OBJC_CLASS_$_FBAdIconView""
# Bug Report

**Before opening**

- [x] Did you try the latest release?
- [x] Did you look for existing issues?

**Ad Modules**

**Platforms**

**Versions**

- Android:
- iOS: 9
- react-native-fbads: 6.0.2
- react-native: 0.57

**Ads Environment**

Build fails regard less of device

**Current Behaviour**

Undefined symbols for architecture arm64:
  "_OBJC_CLASS_$_FBAdIconView", referenced from:

[2018-12-26 08:16] Suraj-Tiwari commented on #183
Use audience version 50

[2018-12-26 15:35] erandagan commented on #181
See https://github.com/react-native-community/react-native-maps/issues/1000

[2018-12-26 15:35] #181 closed

[2019-01-07 10:14] andorfermichael opened #184 "Cannot find FBMediaView on iOS"
# Bug Report

**Before opening**

- [x] Did you try the latest release?
- [x] Did you look for existing issues?

**Platforms**

iOS

**Versions**

- iOS: >= 11.4
- react-native-fbads: 6.0.2
- react-native: 0.57.7

**Current Behaviour**

xCode cannot compile the app because its compiler throws the following error in the following file:

`Use of undeclared identifier 'FBMediaView'`

[code]

**Expect

[2019-01-08 03:53] nullmu0 opened #185 "How catch failed load ads? If the user not installed facebook"
How catch failed load ads?  If the user not installed facebook
How should I handle it?

    class BannerAdComponent extends React.Component<any>
    {
        state = { ad: 'fb' }
        componentDidMount(){
            let fb = true // `If user installed facebook`
            if( fb ){
                this.setState({ad: 'fb'})
            }
            else {
                this.setState({ad: '

[2019-01-08 11:02] andorfermichael commented on #184
Finally, it worked, after I used FBAudienceNetwork 5.1.0 from Cocoapods.

[2019-01-08 11:02] #184 closed

[2019-01-14 14:55] andorfermichael opened #186 "NativeAdsManager isValid: false all the time"
# Bug Report

**Before opening**

- [x] Did you try the latest release?
- [x] Did you look for existing issues?

**Ad Modules**

Native Ads

**Platforms**

iOS

**Versions**

- iOS: 12.1,2
- react-native-fbads: 6.0.2
- react-native: 57.5

**Ads Environment**

- Facebook app installed: yes
- Happens in test (dev build + device is marked as a test device): yes
- Happens in production (release build

[2019-01-15 10:12] HolaMan commented on #132
It's a very serious and blocking issue.
Is there anyway to push or track the facebook progress?

The issue directly affect the ads revenue which is a blocking issue from my view point !

[2019-01-15 10:13] MiracleDeveloper commented on #132
++
We have suffered the same issues.
Any other suggestion or workaround?

[2019-01-15 10:14] erandagan commented on #132
Unfortunately there's no cooperation from Facebook's side on some critical issues related to RN compatibility. It seems like we can only wait until they provide official support.

[2019-01-15 12:17] Suraj-Tiwari commented on #132
i tried to file issue and contact them with no proper response from them so
i think they won't resolve this issue. atleast for now

[2019-01-16 07:47] KhoirH opened #187 "error: cannot find symbol class AudienceNetworkAds"
I dont know why error import com.facebook.ads.AudienceNetworkAds in MyActivity.java
`
...
import com.facebook.ads.AudienceNetworkAds;
import com.reactnativenavigation.controllers.SplashActivity;
....
public class MainActivity extends SplashActivity {
   @Override
    public void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        AudienceNetworkAds.initialize(

[2019-01-16 07:55] MiracleDeveloper commented on #132
RN team just closed the issue, we need to find other channels or ways to report the issue.

[2019-01-16 08:03] erandagan commented on #132
It's not the RN's team responsibility, but Audience Network's. They don't
support
RN officially at the moment.

On Wed, 16 Jan 2019 at 09:55, MiracleDeveloper <notifications@github.com>
wrote:

[2019-01-16 13:21] Vabery opened #188 "Cannot read property 'showAd' of undefined"
# Bug Report

**Before opening**

- [ ] Did you try the latest release?
yes
- [ ] Did you look for existing issues?
yes

**Ad Modules**

Interstitial Ads

**Platforms**

Android

**Versions**

- react-native-fbads: "^6.0.2"
- react-native: "0.56.0"

**Ads Environment**

- Facebook app installed:
- Happens in test (dev build + device is marked as a test device):
- Happens in production (release bui

[2019-01-17 15:37] pitchourou opened #189 "error while updating property 'placementId' managed by AdChoicesView"
# Bug Report

**Before opening**

- [ ] Did you try the latest release? YES
- [ ] Did you look for existing issues? YES

**Ad Modules**
Native Ads

**Platforms**
Android

**Versions**

- Android:  8
- react-native-fbads: 6.0.2
- react-native: 0.57

**Ads Environment**

- Facebook app installed:
- Happens in test (dev build + device is marked as a test device):
- Facebook review status: [approved]

[2019-01-17 15:45] pitchourou commented on #189
sometimes the test ads loads fine, but sometimes they don't leaving producing an error and a blank space in the app feed.

I'm trying to catch the error but not working
`        adsManager.onAdsError(err => {
            console.log(err);
            this.setState({adsLoadFail: true});
        });`

how to catch the ad load error properly to avoid blank spaces in the feed ?

![gregreg](https://use

[2019-01-17 16:01] pitchourou commented on #189
When I remove the `<AdChoicesView />` component , the test ad displays fine

[2019-01-17 16:09] pitchourou commented on #189
Also getting this on the console sometimes, i think it is related `1000: java.net.SocketTimeoutException: timeout`

[2019-01-18 08:12] KhoirH opened #190 "error : undifined is not a function ct2.default.createContext"
before I import the package there is no error but when I import it
error as below :

![whatsapp image 2019-01-18 at 15 19 13](https://user-images.githubusercontent.com/25068242/51374098-81b6c900-1b34-11e9-93fb-59d1ab72c970.jpeg)

react-native 0.55
react-native-natvigation 1.1.484

[2019-01-18 09:57] KhoirH commented on #187
@Trancever yes, if me import audition-sdk manually in my gradle I will solve this problem

[2019-01-18 17:48] erandagan commented on #188
This means the native android module wasn't properly linked. Ensure it's linked, then recompile and run your code.

[2019-01-20 19:10] Vabery commented on #188
@erandagan i used `[react-native link react-native-fbads]` but the error remains.

[2019-01-20 22:00] Trancever commented on #188
@Vabery Try to link the library manually. Link sometimes doesn't work properly.

[2019-01-27 15:58] dajaffe opened #191 "App unresponsive while waiting for an ad to be filled"
# Bug Report

**Before opening**

- [X] Did you try the latest release? **6..0.0-rc3**
- [X] Did you look for existing issues? https://github.com/callstack/react-native-fbads/issues/155 but no traction on it.

**Ad Modules**
Banner Ads (BannerView)

**Platforms**
Android

**Versions**
- Android: SDK 27
- react-native-fbads: 6.0.0-rc3
- react-native: 0.57.5

**Ads Environment**
- Facebook app insta

[2019-01-27 16:01] Suraj-Tiwari commented on #191
Please Share your implementation.

[2019-01-27 16:17] dajaffe commented on #191
My overall app is fairly massive, but I get my ad rendered at the top-most level (App wrapped in react-redux Provider), and the issue occurs on startup.

Entry point - nothing else except a render()
[code]

And <App> - Again, nothing else besides a render()
[code]
My WelcomeScreen is rendered first (redux store's authData is empty on startup), which dispatches an action to try and login using stor

[2019-01-27 20:47] dajaffe commented on #191
Yeah I'm planning on digging into the native side to see if anything sticks out. I'm not super familiar with Android's native ads SDK - any recommendations on where to start? I'm thinking getting into the AdView's loadAd() method called by BannerView, then seeing if there's something in there I can force to act as if it's stuck on a call to Facebook.

[2019-01-29 13:58] andorfermichael commented on #186
The issue was that I used the wrong placement id. In fact I didn't know that I had to create a separate id for each type of ad and for each OS. So please keep this in mind.

[2019-01-29 13:58] #186 closed

[2019-01-31 15:38] yyohanes opened #192 "[IOS] BannerView shows as thin line"
# Bug Report

**Before opening**

- [x] Did you try the latest release?
- [x] Did you look for existing issues?

**Ad Modules**

Banner Ads

**Platforms**

IOS

**Versions**

- iOS: 12.1
- react-native-fbads: 6.0.2
- react-native: 0.56

**Ads Environment**
- Facebook app installed: No. This is simulator.
- Happens in test (dev build + device is marked as a test device): Yes
- Happens in production

[2019-02-07 13:47] najeal opened #193 "Add multiple native ads from same id display the same"
# Bug Report

When I use multiple banner with same id,I don't have this problem.

**Before opening**

- [ ] Did you try the latest release?
YES
- [ ] Did you look for existing issues?
YES

**Ad Modules**

Native Ads

**Platforms**

iOS

**Versions**

- iOS: 12.1
- react-native-fbads: 6.0.2
- react-native: 0.57.4

**Ads Environment**

- Facebook app installed: YEs
- Happens in test (dev build + dev

[2019-02-07 14:53] dajaffe commented on #191
I've been able to recreate this using an emulator, which 100% prevents ads from loading. I'm not really familiar with how touch events are handled (and somehow blocked), but I'll see what I can do to troubleshoot it.

[2019-02-07 15:18] dajaffe commented on #191
I _think_ I figured it out, but I can't prove it.

My theory is the BannerView's height is spanning the entire screen upon creation (even though visibly it looks fine), then gets appropriately resized once a load finishes or errors. I'm guessing in my case, it times out after a while, at which point it then knows it's only a couple hundred pixels high.

As soon as I removed the onPress and onError

[2019-02-09 17:06] dblazeski commented on #149
Had the same issue, wasn't able to track down why it happens. Can confirm MediaView is definitely laggy.
Temp fix is to apply `removeclippedsubviews={true}` on the [FlatList](https://facebook.github.io/react-native/docs/flatlist#removeclippedsubviews) component.

[2019-02-10 17:03] kkusanagi commented on #191
Using react-native-fbads: 6.0.2
The app crash when showing the screen that contain ads.

[code]

[2019-02-10 18:17] HolaMan commented on #132
No.
We have reported to Audience Network team but no concrete progress for weeks.
Actually we don't know how to make any progress on this issue.

[2019-02-11 07:32] HolaMan commented on #132
We submit the issue here
https://developers.facebook.com/support/bugs/230915631133114/?resurrect_cookie=1&_rdr

[2019-02-12 19:17] travisgreermoguls opened #194 "Rewarded Video Support?"
It looks like Rewarded Video was supported (via pull request) at one point in time, probably in v3.X - #98, #95.

While it seems the PR was merged to master, I can't seem to find rewarded video support currently.  Was support actively dropped from v4.X?  Or maybe I'm missing something else.

It would be great to get support for rewarded video in the package.  I would be happy to do what I can to h

[2019-02-12 21:04] Trancever commented on #194
@travisgreermoguls Yes, you'r right. In the past, we were supporting Rewarded Video Ads but, since the package was full of bugs we decided to rewrite it from scratch and we dropped support for this type of ads.

Right now, we have limited time to work on this package, so we are really happy about external contributions. Would be cool if you could bring support for Rewarded ads back :)

[2019-02-12 22:06] travisgreermoguls commented on #194
@Trancever, thanks for the update.  It's not my forte, but I'll take a stab at it.

[2019-02-14 17:13] pitchourou commented on #182
same issue here, blurred image and unclickable button
fbads version 6.0.2
RN version: 0.57

[2019-02-15 08:48] zensuke commented on #182
same issue.

fbads version 6.0.2
RN version: 0.55.3

[2019-02-15 15:46] tmjordan commented on #192
I have exactly the same problem :-/

[2019-02-15 15:49] tmjordan commented on #191
I have a similar problem with network, i also think that the ad is blocking other network calls.

[2019-02-20 04:30] pitchourou opened #195 "No Clicks and no impressions reported in the Monetization manager"
# Bug Report

**Before opening**

- Did you try the latest release? YES
- Did you look for existing issues? YES

**Ad Modules**

Native Ads

**Platforms**

Android

**Versions**
- react-native-fbads: 6.0.2
- react-native: 0.57

**Ads Environment**

- Facebook app installed:
- Happens in production (release build + **not** a test device):
- Facebook review status:  approved

**Current Behaviour**

[2019-02-20 07:51] erandagan commented on #195
Duplicate of #172

[2019-02-20 07:51] #195 closed

[2019-02-21 00:42] nullmu0 opened #196 "An error occurred after upgrading to react native 0.58.5"
![5871550709621_ pic](https://user-images.githubusercontent.com/955472/53135027-8bf53880-35b4-11e9-88a6-b4d450e294d5.jpg)

[2019-02-21 18:23] junjun16818 commented on #196
In NativeAdManager.java add some code
Can solve this error
[code]

[2019-02-22 13:21] AkshayItaliya opened #197 "InterstitialAdManager ads not show error { "framesToPop": 1, "code": "E_FAILED_TO_LOAD" }"
**Platforms**

**Versions**

- Android:
- iOS:
- react-native-fbads:
- react-native:

**Ads Environment**

- Facebook app installed:
- Happens in test (dev build + device is marked as a test device):
- Happens in production (release build + **not** a test device):
- Facebook review status: [not submitted | approved]

**Current Behaviour**

**Expected Behaviour**

**Steps to Reproduce**

**Addition

[2019-03-08 19:07] travisgreermoguls commented on #194
@Trancever , I've made an attempt at this.  I've combined the previous v3.X implementation with the v4.X changes observed in EXInterstitialAdManager.

Everything appears to work well - except that an iOS rewarded video window will not respond to the dismiss button ('X').

I'm out of my depth and have been unable to figure this out.  If you or someone on your team has extra time to take a look, I w

[2019-03-08 19:48] Suraj-Tiwari commented on #194
@erandagan can you have a look?

[2019-03-21 14:04] maphongba008 commented on #191
Any updates on this issue? I was stuck with this for many days :(
I've checked log in xcode, after request ad fail (due to "No network" error), it keeps requesting ad, many error log show there, don't know if it's native code issue or not

[2019-03-21 14:19] maphongba008 commented on #191
Work around for me:
Comment all of the error handler in EXBannerView.m wont make app freeze:
- (void)adView:(FBAdView *)adView didFailWithError:(NSError *)error
[code]

[2019-03-22 02:50] bemnet4u commented on #192
+1 I spent few days debugging this thinking its my code :(

[2019-03-22 13:11] pratishshr commented on #189
@pitchourou Did you find a solution to this issue?

[2019-03-26 09:47] Jeadonara commented on #191
I had some issue too, removing onPress and onError parameters worked fine.

[2019-03-29 10:32] christenpro commented on #168
@erandagan @Trancever @Suraj-Tiwari Still media view doesn't display until click or scroll down/top. Please let me know about Blur Media, I didn't get proper reply for blur view.

[2019-04-04 10:42] vietnux opened #200 "Error TypeScript"
It has an error on file  \node_modules\react-native-fbads\dist\types\native-ads\withNativeAd.d.ts

I install  npm install -g typescript and ES6 but it does not fail
Help me!

[2019-04-10 21:40] travisgreermoguls commented on #194
Just to circle back on this, we went with AdMob with Facebook Audience Network ad mediation to meet our rewarded video need.  You're welcome to pull anything useful from my work, but I don't foresee finishing it up at this point.  Thanks!

[2019-04-10 21:40] #194 closed

[2019-04-11 18:35] SkyTreasure commented on #17
Hi this seems like old thread, but i am using "react-native-fbads": "^6.1.0" and still facing this issue.  Am i missing something?

[2019-04-11 18:36] SkyTreasure commented on #182
Facing same issue on "react-native-fbads": "^6.1.0"

[2019-04-11 21:37] Suraj-Tiwari commented on #17
Are you sure you are using TriggerableView.
in no, please share your implementation.

[2019-04-12 06:28] SkyTreasure commented on #17
[code]
And I getting 0 impressions for ads which are not clickable.

[2019-04-12 21:27] SMKH-PRO opened #201 "FailedToLoad onError=> SyntheticEvent "
`error SyntheticEvent {dispatchConfig: {…}, _targetInst: FiberNode, _dispatchListeners: ƒ, _dispatchInstances: FiberNode, nativeEvent: {…}, …}`

Behaviour On Emulator:-
Shows blank screen for ractangle banner in emulator, and console shows this error..! However standard works fine on emulator

Real Device:-
Wither its standard or rectangle none of them work both is throwing error in console..!

[c

[2019-04-13 20:31] nickw commented on #193
@najeal did you find a solution to this? I'm experiencing it as well.

[2019-04-14 03:33] Suraj-Tiwari commented on #193
You can't use same id for multiple places,
you have to generate new id for each section.

[2019-04-14 03:39] nickw commented on #193
@Suraj-Tiwari you mean a different `placementId` for each NativeAd? That sounds like a bug considering the docs state you can pass a number of ads to generate when you instantiate a new  `NativeAdsManager`:

`const adsManager = new NativeAdsManager(FEED_PLACEMENT_ID, 20);`

[2019-04-14 04:05] Suraj-Tiwari commented on #193
That's when you use in on same screen,
List View have some strange bugs,
We asked Facebook team to make native sdk friendly for react-native.
They don't want to, so this is working fine but just working fine,

Also the no. of ad request parameter is to cache those ads to show on that
place without requesting server to update ad.

[2019-04-14 04:09] nickw commented on #193
@Suraj-Tiwari so if I want to show 10 ads throughout a feed, I should create 10 placement IDs?

[2019-04-14 06:29] Suraj-Tiwari commented on #193
if you want to show it in a list, don't even think about it without
expecting a random bug,
One of known bug is No impression at all.

Better try to test it according to your usages or share your
implementation, we might suggest you a better workaround.

[2019-04-15 17:16] mehuleo opened #202 "[Feature] NativeAdScrollView (Horizontal Scroll For Native Ads)"
Hi,
Request to impletement NativeAdScrollView.
Ref: https://developers.facebook.com/blog/post/2015/05/06/native-ads-made-easy/ https://developers.facebook.com/docs/audience-network/reference/android/com/facebook/ads/nativeadscrollview.html/?version=v4.99.1

This would help boost the revenues for many.
Thanks.

[2019-04-16 03:36] bozzmob commented on #172
I'm facing this issue as well. Is there any solution for this?

[2019-04-23 08:58] Dinesh-In commented on #192
I have little experience with C coding.
But based on #76 i tried this and it worked.
I am using
 "react": "16.6.3",
 "react-native": "0.58.6",
"react-native-fbads": "^6.1.0",
 "react-native-fbsdk": "0.9.0",

modify /node_modules/react-native-fbads/ios/ReactNativeAdsFacebook/EXBannerView.m

change :-

  adView.frame = CGRectMake(0, 0, adView.bounds.size.width, adView.bounds.size.height);
  adView.d

[2019-04-24 10:41] techday84 opened #203 "Error while updating property 'adsManager' of a view managed by: CTKNativeAd"
# Bug Report

**Before opening**

- [ ] Did you try the latest release? YES
- [ ] Did you look for existing issues? YES

**Ad Modules**
Native Ads

**Platforms**
Android

**Versions**
- Android: 7.0

- react-native-fbads: "6.1.0",

- react-native:
react-native-cli: 2.0.1
react-native: 0.59.5

**Ads Environment**

- Facebook app installed: YES
- Happens in test (dev build + device is marked as a te

[2019-04-30 21:40] kyungjoongo commented on #189
When I remove the <AdChoicesView /> component , the test ad displays fine

[2019-05-03 18:53] joakimwennergren commented on #203
I'm getting the same error all of a sudden on my android devices. It's working on IOS though.

[2019-05-08 14:57] techday84 commented on #203
With react-native: 0.55.4 it "works".
This error disappears but the ads are blurry images and when it happens, the link doesn't work.
When the ad shows a carrousel of images, the images are ok and the link works.

[2019-05-08 15:10] Suraj-Tiwari commented on #203
Blurry media view is a known issue, issue is within audience sdk, not
library

[2019-05-15 13:44] gamingumar commented on #182
I am also facing the issue on android

[2019-05-18 04:00] freakyfriday commented on #132
Any news on this issue? Facebook have closed the issue as they can't replicate it.

[2019-05-31 18:08] raphaeleidus commented on #172
I think I have an idea on the implementation problem that might be causing this

In reviewing the docs for the audience SDK I noticed this:

In reviewing the source for this library there is no reference to `NativeAdLayout`. I think if we can start using it it may resolve a number of problems (on android at least)

[2019-05-31 18:09] raphaeleidus commented on #132
I think I have an idea on the implementation problem that might be causing this

In reviewing the docs for the audience SDK I noticed this:

In reviewing the source for this library there is no reference to `NativeAdLayout`. I think if we can start using it it may resolve a number of problems (on android at least)

[2019-05-31 18:16] waiyan112 commented on #191
Thank you, Problem solved.

[2019-05-31 18:38] Suraj-Tiwari commented on #132
Thanks for your investigation, I'm looking into it.

[2019-06-05 11:26] yohanes1989 commented on #132
@raphaeleidus Tried rendering the ads natively on Android side by wrapping with `NativeAdLayout` and still no bueno. Still getting the blurred image.

[2019-06-05 13:57] Suraj-Tiwari commented on #132
Could be the version issue, which version you tried to test?
and what about native ui.?

[2019-06-09 12:43] kaushalmarakana commented on #107
You need to import some java statements for load facebook ads packages.
#205 (Check this)

[2019-06-11 04:29] Suraj-Tiwari commented on #193
Closing due to inactivity

[2019-06-11 04:29] #193 closed

[2019-06-14 09:40] harryt2 opened #206 "Android test ads working but not in production"
Everything works perfectly when I'm using test ads, but when I remove the addTestDevice() method and use --variant=release the ads don't load. I have no idea what it could be. It throws an error that looks like:

'error', { dispatchConfig: { registrationName: 'onAdError' },
06-13 21:27:28.712   902  1048 I ReactNativeJS:   _targetInst:
06-13 21:27:28.712   902  1048 I ReactNativeJS:    { tag: 5,
0

[2019-06-20 13:38] hazeeb commented on #203
I'm having same issue in react-native: 0.58.4

[2019-06-24 11:09] mehuleo commented on #203
Following fix helped me get around this issue:

Open: `node_modules/react-native-fbads/android/app/src/main/java/suraj/tiwari/reactnativefbads/NativeAdManager.java` and add the following line:

[code]

[2019-06-27 21:33] perrosnk commented on #196
Any updates?

[2019-06-27 22:01] Suraj-Tiwari commented on #196
If your fix resolved the problem Please submit a PR, I'll approve it.

[2019-07-02 06:27] perrosnk commented on #172
Has anyone found a solution?

[2019-07-02 07:25] Trancever commented on #172
@raphaeleidus Did you try using `NativeAdLayout` ? What was the result?

[2019-07-02 07:43] Suraj-Tiwari commented on #172
According to someone's comment he tried, with no luck..

[2019-07-03 07:50] hazeeb commented on #203
@mehuleo Thank you for your support. It worked, but ads are burred.

[2019-07-03 07:53] Trancever commented on #203
@mehuleo Could you submit PR with that fix?

[2019-07-03 08:26] mehuleo commented on #203
@hazeeb Please read this thread: https://github.com/callstack/react-native-fbads/issues/132
In my experience, the blurry ad won't be a big issue, if you reload the app it'll go away, although if your end-users' internet speed is slow then the Native Ad will render blurry frequently.
I've used Native Ads on production and CTR is 1.5-2 times higher compared to Banner Ad so, impression drop due to th

[2019-07-03 08:29] mehuleo commented on #203
@Trancever Sure will do.

[2019-07-03 13:48] Trancever commented on #203
@mehuleo Awesome, thanks!

[2019-07-03 15:06] chrismathews2007 opened #209 "Ads doesn't display only in my mobile"
Ads showing in other devices, but **sometimes doesn't display for longtime only in my device**. I don't know why.

Please let me know what happening.

Thank you

[2019-07-03 21:46] Suraj-Tiwari commented on #209
Production or test environment?

[2019-07-04 02:33] chrismathews2007 commented on #209
@Suraj-Tiwari Production

[https://play.google.com/store/apps/details?id=com.christenpro](url)

[2019-07-04 02:47] Suraj-Tiwari commented on #209
Try changing Facebook account.

[2019-07-04 04:48] chrismathews2007 commented on #209
I logged into CP App with an email in my device, still doesn't display, and used same credentials in another device ads are displaying...

[2019-07-07 02:30] freakyfriday commented on #132
For the Android devs are there any clues in the expo implementation of FacebookAds?

https://github.com/expo/expo/blob/master/packages/expo-ads-facebook/android/src/main/java/expo/modules/ads/facebook/NativeAdLayoutManager.java

[2019-07-10 15:29] rowheat02 opened #210 "how to show banner ads only after ads received....In my case white portion is there before receiving ads in bannerview??"
# Bug Report

**Before opening**

- [x] Did you try the latest release?
- [ ] Did you look for existing issues?

**Ad Modules**

**Platforms**

**Versions**

- Android:
- iOS:
- react-native-fbads:
- react-native:

**Ads Environment**

- Facebook app installed:
- Happens in test (dev build + device is marked as a test device):
- Happens in production (release build + **not** a test device):
- Face

[2019-07-10 15:51] rowheat02 commented on #210
![Screenshot_20190710-212509](https://user-images.githubusercontent.com/40065760/60983961-9abd6b80-a35a-11e9-8e49-3a2def1c9fdf.jpg)

I want this view only shown after ads received

[2019-07-10 15:52] rowheat02 commented on #210
Here is the code snippet

import React, { Component } from 'react'
import {  View,ScrollView } from 'react-native'
import { BannerView, InterstitialAdManager,AdSettings } from 'react-native-fbads';
import { Container, Header, Title, Content, Footer, FooterTab, Left, Right, Body, Icon, Text,Button } from 'native-base';
import { throwStatement } from '@babel/types';

export default class App extends

[2019-07-10 15:53] rowheat02 commented on #210
here is the code `import React, { Component } from 'react'
import {  View,ScrollView } from 'react-native'
import { BannerView, InterstitialAdManager,AdSettings } from 'react-native-fbads';
import { Container, Header, Title, Content, Footer, FooterTab, Left, Right, Body, Icon, Text,Button } from 'native-base';
import { throwStatement } from '@babel/types';

export default class App extends Compone

[2019-07-18 05:25] AKKIDETROJA commented on #191
** #I had some issue too, removing onPress and onError parameters worked fine.**

its working fine

[2019-07-24 15:31] seomaz commented on #182
same here, only for android ads type: image

[2019-08-02 06:38] saqib006 commented on #201
same issue here, any soulution found?

[2019-08-02 07:35] saqib006 opened #211 "ads not showing banner and Interstitial test ads working but in production not working & facebook approved properties"
Interstitial error:  The SDK version in the ad request is no longer supported for new apps. Please upgrade to one of the latest versions of the SDK // Interstitial error
banner error // syntheticEvent {dispatchConfig: {…},....

**Before opening**

- [ yes] Did you try the latest release?
- [no ] Did you look for existing issues?

**Ad Modules**

**Platforms**

**Versions**

- Android:
- iOS:
- rea

[2019-08-02 22:05] jayjac opened #212 "iOS build fails RN 0.60"
**Ad Modules**

**Versions**
- XCode 10.3
- iOS: 12.1
- react-native-fbads:
- react-native: 0.60

**Ads Environment**

- Happens whenever I tried to run from Xcode or from react-native run-ios
- Facebook review status: not submitted

**Current Behaviour**
Build fails instantly after running react-native link. Seems like some RCT headers are not found by this library and I get an immediate failure.

[2019-08-03 18:03] seomaz commented on #193
@Suraj-Tiwari do you have an a example to update ads ?

[2019-08-05 09:57] seomaz commented on #132
Any updates ?

[2019-08-05 10:17] seomaz commented on #132
@Suraj-Tiwari   It could be related ? https://developers.facebook.com/docs/audience-network/android-layout-guideline

[2019-08-09 01:15] seomaz commented on #132
@Suraj-Tiwari  To avoid this, is there any way to request only video ads and carousel?

[2019-08-09 01:26] Suraj-Tiwari commented on #132
Not sure, Facebook supports excluding video content, i think we can archive
this by tweaking parameter of Ads pricing.

[2019-08-13 20:18] seomaz opened #214 "What is the best way to get new nativeads and render again ?"
Hi, i want to know what is the best way to for example: every time the article component is called get new native ads ?

thanks.

[2019-08-16 10:02] abhaynpai commented on #92
Hey @erandagan

I think this needs to be done now cause React Native 0.60.x works on a podfile basis. So we need to have `podspec` specified in the project. I have upgraded my project and I am trying to build but I am facing an issue mentioned in #212

So what's the best way to move ahead. Any ideas?

[2019-08-16 10:12] yogeshmoradiya121 commented on #211
same issue
please help if some one fix this

[2019-08-16 14:58] abhaynpai commented on #212
@Suraj-Tiwari @erandagan

I have created a PR #213 to fix this issue. Kindly review.

[2019-08-19 02:40] doublelam opened #215 "could you please publish the newest version to npm"
hey, could you please publish the latest version to npm, because the npm module is still not  a latest version, thank you

[2019-08-26 21:53] ljubomir-digihey commented on #182
jebo vam pas mater krvavu

[2019-08-31 10:19] abhaynpai opened #217 "Warning: Using deprecated "rnpm" config for RN >= 0.60"
# Bug Report

**Before opening**

- [x] Did you try the latest release?
- [x] Did you look for existing issues?

**Ad Modules**
NA

**Platforms**
Android

**Versions**

- Android: API > 21
- iOS: -
- react-native-fbads: 6.1.0
- react-native: 0.60.4

**Ads Environment**

- Facebook app installed: NA
- Happens in test (dev build + device is marked as a test device): YES
- Happens in production (rele

[2019-09-04 09:07] Dinesh-In commented on #215
It would be helpful for all to use the following fixes that have already been verified/ merged  but are not available in the release 6.1.0
- hook for onAdLoad for BannerView
- Error while updating property 'adsManager' of a view managed by: CTKNativeAd

Please publish the latest version to npm.

[2019-09-07 17:44] Suraj-Tiwari commented on #217
#216

[2019-09-07 17:44] #217 closed

[2019-09-07 17:45] Suraj-Tiwari commented on #215
It'll be released

[2019-09-07 17:48] #118 closed

[2019-09-07 17:49] Suraj-Tiwari commented on #212
#216 merged,

[2019-09-07 17:49] #212 closed

[2019-09-07 20:07] abhaynpai commented on #217
@Suraj-Tiwari : #216 is unrelated to this issue. I suggest you to re-open.

The following object should be removed from `package.json` as per [this stackoverflow post](https://stackoverflow.com/questions/57038718/the-following-packages-use-deprecated-rnpm-config-that-will-stop-working-from).

https://github.com/callstack/react-native-fbads/blob/31ec06337cfe1cc911f2aedf0fe60e735c733051/package.json

[2019-09-09 12:42] JustSevi4 opened #218 "The SDK version in the ad request is no longer supported for new apps. Please upgrade to one of the latest versions of the SDK react native"
Hello! I stack this issue in my react-native application.
I'm using react-native-fbads : 6.2.0
react-native-fbsdk: 1.0.3.
react-native: 0.60.5
Working in Android studio.
I can't display banner or show Interstitial, cause I got an error :  The SDK version in the ad request is no longer supported for new apps. Please upgrade to one of the latest versions of the SDK react native.

Is anyone has the s

[2019-09-09 12:44] andreiciceu commented on #215
hello; any news on this issue?

[2019-09-09 13:56] JustSevi4 commented on #211
the same. Is anyone has found resolution?

[2019-09-10 07:28] #215 closed

[2019-09-10 10:56] tmjordan commented on #192
@Dinesh-In thank you man, your saved my day.

[2019-09-11 04:31] a26364177 opened #219 "Is this library support Audience Network iOS SDK 5.5.0?"
Is this library support Audience Network iOS SDK 5.5.0?

[2019-09-20 04:56] christenpro opened #220 "Banners Ads are not blurry in Skype which is developed in React Native"
@erandagan @Suraj-Tiwari Recently I checked in a banner ad in ### **Mobile Skype App**. It's not blurry, then why we are not able to resolve. And Image ads are not clickable. Please take a look at image blur.

Thank you
![Screenshot_2019-09-13-16-17-52-267_com skype raider](https://user-images.githubusercontent.com/36419521/65300307-a0240700-db90-11e9-9d47-5d89a4125bbb.png)

[2019-09-21 10:52] #214 closed

[2019-09-24 09:07] JustSevi4 opened #221 "Black screen after watching Interstitial ad on iOS 13."
# Bug Report

**Before opening**

- [x] Did you try the latest release?
- [x] Did you look for existing issues?

**Ad Modules**

**Platforms**

**Versions**

- iOS: 13
- react-native-fbads: 6.2.1
- react-native: 0.60.5

**Ads Environment**
After wathing Interstitial ad on iOS 13 I got black screen for all application. It's only on iOS 13.

[2019-09-26 08:25] antonabyzov commented on #218
Created PoC to reproduce this issue on Android - https://github.com/anton-abyzov/react-native-fbads-poc

[2019-09-26 14:40] Suraj-Tiwari commented on #218
#222 fixed

[2019-09-26 14:40] #218 closed

[2019-09-26 14:43] Suraj-Tiwari commented on #220
Looks like these ads are rendered from native side.
I investigated the issue of blur ads, it's because component wasn't able to detect size of layout.

[2019-09-26 14:45] Suraj-Tiwari commented on #210
You can make use of `onLoad={() => console.log('loaded')}`

[2019-09-26 14:46] Suraj-Tiwari commented on #200
fixed in a recent release.

[2019-09-26 14:46] #200 closed

[2019-09-26 14:47] #219 closed

[2019-09-27 07:50] Suraj-Tiwari opened #223 "New Release"
Current npm version is using a deprecated sdk, because of it, ads aren't visible.

[2019-09-27 07:50] Suraj-Tiwari commented on #223
@Trancever

[2019-09-27 10:27] Trancever commented on #223
Version 6.3.0 released!

[2019-09-27 10:27] #223 closed

[2019-09-27 20:32] Suraj-Tiwari commented on #223
Thank you very much.

[2019-09-28 12:27] kkusanagi commented on #187
Add this both.

[code]

[2019-10-04 10:11] AB91189 opened #224 "CTKBanner view not found in UIManager"
Hi,

I am facing the follwoing issue in react native ads.

![error](https://user-images.githubusercontent.com/12932818/66199900-69d0a680-e6bd-11e9-951b-f6999906ebb5.jpeg)

[2019-10-05 14:02] AB91189 commented on #94
still facing this issue. the application hangs in both platforms whenever i go to the page where there is a banner ad

[2019-10-11 02:31] doublelam opened #225 "it always says "Ad was re-loaded too frequently" when using native component"
index.ts
[code]
NativeAdView.ts
[code]

and there are some questions I am confused when searching for things online

1. when I am testing the fbads on my ios simulator, don't I need to have the facebook app installed, right? and if the fbads runs on the real device, does the device need to have the facebook app installed?
2. if I am testing on my simulator, don't I need to call `AdSettings.addTest

[2019-10-14 01:12] knightkhan commented on #224
i also facing similar problem

[2019-10-14 02:46] doublelam commented on #225
ok, after upgrading the FBAudienceNetwork to 5.5.1, this issue is fixed

[2019-10-14 02:46] #225 closed

[2019-10-18 10:50] TidamCo commented on #172
Hi, i am new to this module, managed to make it work after quite some trouble because i cannot use cocoapods, I confirm that no impressions nor clics get logged by facebook, both on ios and android, when the native ads are in a scrollview.

Has anyone thought about any workaround that would make it work ? As far as I know, this module is the only one with native ads capability ..

[2019-10-23 06:08] doublelam opened #226 "BannerView could not be shown when its type is rectangle"
![image](https://user-images.githubusercontent.com/12025501/67362495-c2e57900-f59d-11e9-80c7-5cf619f89582.png)

I am using rectangle banner view, and this is my codes

**BannerAds.tsx**
[code]
and I was using it like
[code]
but the ads could not be shown at all, it's just an empty area

[2019-10-25 07:10] jayjac opened #227 "Module dispatched on non-UI thread on iOS"
# Bug Report

**Before opening**

- [x] Did you try the latest release?
- [x] Did you look for existing issues?

**Ad Modules**

**Platforms**

**Versions**

- iOS: iOS simulator 12.2 and device + simulator running 13.1
- react-native-fbads: latest
- react-native: 0.61

**Ads Environment**

- Facebook app installed: yes, latest.
- Happens in test (dev build + device is marked as a test device): ye

[2019-10-29 05:33] #183 closed

[2019-10-31 15:37] grean opened #228 "Try to display fbads without login with facebook account"
Hi,
I've setup my ads with banners and interstitials but they are shown only if i'm connected with a facebook account.
Same behavior in Test and Release mode.
**Module ads concerned**
- Banner Ads
- Interstitial Ads
**Platforms**
- Android
**Versions**
- Android: api29 emulator and on device android 7.0
- react-native-fbads:6.3.0
- react-native:0.61.1

**Ads Environment**
- Facebook app installed:

[2019-11-06 09:49] grean commented on #228
This is due to the fact that my app was not installed from the play store or app store.
This information is findable when you go to the statistics of a block add in the FB monetize manager dashboard.

[2019-11-06 09:54] grean opened #230 "Interstitial didClick parameter"
Do you think that we can use this parameter as a rewarded system and force user to click on the add if they want to get their gift ?
I think forcing user to click  on adds is forbidden but maybe with facebook we are allowed ?
Otherwise why does this parameter exist ?

[2019-11-06 10:05] grean commented on #230
[Here](https://developers.facebook.com/docs/audience-network/policy) in 3.7 it's written :

So clearly, we are not allowed.

[2019-11-10 09:30] Adarwall commented on #218
@Suraj-Tiwari is there a fix for IOS as well?

[2019-11-27 05:36] iwantooxxoox commented on #171
@Trancever any update on supporting AdOptionsView? thanks

[2019-11-27 07:56] Trancever commented on #171
@iwantooxxoox I am not really able to work on it right not. It would be awesome if someone from community could submit a PR implementing this.

[2019-11-29 07:52] iwantooxxoox commented on #221
@JustSevi4 Did you solve the issue?

[2019-12-02 14:18] RodolfoGS commented on #192
Thank you @Dinesh-In, I created a PR with your fix and works great https://github.com/callstack/react-native-fbads/pull/231

[2019-12-02 15:30] dr-andy commented on #168
Same problem. MediaView appears for the first seconds then disappears. It appears if I scroll the MediaView then disappears again after a few seconds. Tested on Android 8.0 device. Other components work as intended.

[2019-12-02 15:34] dr-andy opened #233 "Memory leak"
The library loads new ads in the background and this causes a memory leak. After some time the app becomes unresponsive. What may be the problem?

[2019-12-04 04:13] RodolfoGS commented on #192
Anyone to review my PR that fix this issue? https://github.com/callstack/react-native-fbads/pull/231

[2019-12-04 18:03] Suraj-Tiwari commented on #192
#231 fix merged

[2019-12-04 18:03] #192 closed

[2019-12-04 18:45] Suraj-Tiwari commented on #233
Assuming you're talking about native ads
default limit is 10 ads, in mid range devices that can be issue, if you are using is only once and show next ad with different id, then pass the ads limit along with id.

[2019-12-05 04:09] RodolfoGS commented on #233
I have memory leak too (on iOS, I didn't tested on Android yet), I'm trying to implement native ads in a FlatGrid, any suggestion?

[2019-12-05 16:53] RodolfoGS commented on #233
I found an issue (and a solution), when you use native ads in a scroll view, you must to render the native ad ONLY when it is visible (on viewport). If you render the ad when it's down on the scroll your FPS will down dramatically.

### My experience using FlatList

**Without native ads (60 FPS)**
![1](https://user-images.githubusercontent.com/870365/70254760-3a84f700-174b-11ea-8909-c7038ff8bb2b.p

[2019-12-10 09:55] aksmfosef11 opened #234 "NativeAd Reset Video when Scrolling in FlatList"
**Ad Modules**

**Platforms**

**Versions**

- Android:10
- react-native-fbads:6.3.0
- react-native:0.61.4

**Ads Environment**

If scroll after adding `NativeAd` in `FlatList`, the video refreshes every time scroll.

[code]

I added a log to the `render()` of the `Component`
`log` is not called, only the video is reset.

test video
https://drive.google.com/open?id=1-7M6kq5H1GqBeayIs_KFCFEP6OxSi1M

[2019-12-10 21:04] garrett-gottlieb opened #235 "Rendering NativeAd multiple times shows same ad, not different ones"
# Bug Report

**Before opening**

- [X] Did you try the latest release?
- [X] Did you look for existing issues?

**Ad Modules**

Native Ads

**Platforms**

iOS

**Versions**

- Android:
- iOS: 13.2
- react-native-fbads: 6.3.0
- react-native: 0.59.5

**Ads Environment**

- Facebook app installed: Yes
- Happens in test (dev build + device is marked as a test device): Yes
- Happens in production (rel

[2019-12-11 04:44] garrett-gottlieb commented on #233
This is a serious problem. Video ads are unusable, experiencing same performance decrease.

[2019-12-11 13:53] RodolfoGS commented on #233
It's true, I have the same problem. Video ads are unusable.

[2019-12-11 16:48] garrett-gottlieb commented on #233
Not rendering in a list isn’t an option, either, since the height of the ad affects the position of elements below it. You’d need to render a replacement. Even so, a single photo ad reduces FPS on my iPhone XS to 50. How is anybody using this in production???

[2019-12-13 08:21] #226 closed

[2020-01-03 09:06] ngocsang103 opened #236 "Interstitial Ads"
how to preload ads before show ads in react native fbsdk?
I want to preload the interstitial ads before show it. please help me.

[2020-01-03 19:51] Jhonte commented on #236
+1  Just installed this and so far it's working great.  But there is a slight delay every time.

[2020-01-04 02:11] ngocsang103 commented on #236
it will long delay for video. it will better if i can preload the ads before show it

[2020-01-04 02:50] narendeeps143 commented on #146
Hi,

I am struggling with the same issue. I have modified the build.gradle as suggested, but the error still persists. Could you please help me out on this?

React Version:
0.61.5
react-native-fbads@6.3.1

android/build.gradle
`// Top-level build file where you can add configuration options common to all sub-projects/modules.

buildscript {
    ext {
        buildToolsVersion = "28.0.3"
        mi

[2020-01-04 20:52] Jhonte commented on #236
@ngocsang103 https://github.com/callstack/react-native-fbads/pull/237 Think I got it it to work properly.  But I've never touched native code before so let's wait and see :D

[2020-01-07 08:05] ngocsang103 commented on #236
Thank you for support.
But I test  only for android but i get errore. I use the same code in https://github.com/callstack/react-native-fbads/blob/1b3d7f761a1e646f5c42ea1323158ae8763196e5/android/app/src/main/java/suraj/tiwari/reactnativefbads/InterstitialAdManager.java
and then use the file https://github.com/callstack/react-native-fbads/blob/c5610045d0cf28546afb08890f96744335ad1f50/src/Interstiti

[2020-01-07 15:00] Jhonte commented on #236
Think you need to wait for the pull request to be validated and then a new release. I ran `yarn tsc` so that the file `dist/lib/InterstitialAdManager.js` had the correct functions as well.   If you need it work asap add this into the above path and try again.

`import { NativeModules } from 'react-native';
const { CTKInterstitialAdManager } = NativeModules;
export default {
    /**
     * Shows in

[2020-01-15 03:27] doublelam opened #238 "Bad performance when navigate to another screen"
# Bug Report

**Before opening**

- [x] Did you try the latest release?
- [x] Did you look for existing issues?

**Ad Modules**

Native Ads

**Platforms**

iOS

**Versions**

- Android:
- iOS: 13
- react-native-fbads: 6.3.1
- react-native: 0.61.5

**Ads Environment**

- Facebook app installed: Y
- Happens in test (dev build + device is marked as a test device): Y
- Happens in production (release b

[2020-01-20 15:29] iLevye commented on #225
Same here.
Installation document referrer to version 5.1.1 of FBAudienceNetwork. Should I open a PR to change this to 5.5.1 ?

[2020-01-22 13:07] iLevye opened #239 "Documentation is outdated"
For react-native 0.60+ you don't need to do any additional steps on android side. Just add the package with yarn.

`yarn add react-native-fbads`

[2020-01-25 10:15] grean opened #240 "InterstitialAdManager.showAd error after calling multiple times"
I'm aware of this issue and related PR https://github.com/callstack/react-native-fbads/issues/36
But it doesn´t fix the problem entirely because in my UI i have a caroussel and in each item, i can call InterstitialAdManager.showAd() to unlock some kind of content.
When i simulate a user that call showAd on the first item, then scroll to the next item and rapidly call showAd on it, i have this erro

[2020-01-26 10:41] Pingou opened #241 "Interstitial crash"
Crashlytics notifies me of a production crash on iOS (13.3):

EXC_BAD_ACCESS KERN_INVALID_ADDRESS in EXInterstitialAdManager interstitialAdDidClose

Is anybody else experiencing this issue?

React Native 60.5
Facebook Review status: approved

[2020-02-12 19:32] bougarfaoui opened #242 "native banner without MediaView is not clickable"
# Bug Report
Thanks for this amazing repo , I tried to create a native banner using ```WithNativeAd``` function but the problem when I removed the MediaView component , the native banner is not clickable and when I put it back the native banner is clickable.
[code]
According to facebook docs MediaView is mandatory for Native Ad and is not mandatory in native banner.

is there a workaround for that

[2020-02-18 10:01] blitzcrank commented on #149
Any progress on this issue? I have tried @dblazeski 's suggestion but `removeclippedsubviews={true}` doesn't work for me.

The entire main thread is locked due to `FBAdQualityViewabilityMeasurement overlappingRectsInView:targetRect` method being from a Timer (as seen in this thread: https://bugs.netnoc.eu/browse/TWOO-67864)

[2020-02-29 16:11] Acetyld commented on #211
Same here..

[2020-02-29 16:12] Acetyld commented on #210
`
  const [fbLoading, setFBLoading] = useState(true);
  console.log('FacebookAd Loaded',fbLoading);
    return (
      // <View style={[styles.container]}>
      <View style={styles.bannerContainer}>
        <View style={[{justifyContent: 'center'},fbLoading ? {height: 0} : {}]}>
          <BannerView
            placementId={BANNER_TEST_UNIT_ID_ANDROID_FB}
            type="standard"

[2020-03-09 20:18] mochi08 opened #243 "Test ads working but live ads stuck at requesting. What am I missing?"
I am using RN v0.61, and just trying to integrate a simple fb banner ads at bottom of my app screen.  I've setup my Android app in fb developer acct which gave me an App ID and added Audience Network as a product.  I've got my app approved for fb monetization, and have the Placement ID.

Following the documentation, I installed react-native-fbsdk.  Since I'm on RN 0.61, I skipped the linking part.

[2020-03-26 21:18] Thomazella opened #244 "compatibility with react-native 0.62"
# Bug Report

**Before opening**

- [x] Did you try the latest release?
- [x] Did you look for existing issues?

**Ad Modules**

yes

**Platforms**

yes

**Versions**

- Android:
- iOS:
- react-native-fbads: latest
- react-native: 0.62

**Ads Environment**

- Facebook app installed:
- Happens in test (dev build + device is marked as a test device): yes
- Happens in production (release build + **no

[2020-03-29 17:16] perrosnk commented on #172
This library doesn't seem to be maintained. To anyone who is interested I recently discovered this: https://github.com/ammarahm-ed/react-native-admob-native-ads/

[2020-03-30 08:20] tomhicks commented on #194
@travisgreermoguls could you possibly explain how you set up Facebook Audience Network ad mediation on Admob with React Native?

Thanks in advance.

[2020-03-30 17:59] travisgreermoguls commented on #194
I believe we ended up using react-native-firebase, which has an admob component.  Then you have to go through and configure things on admob to use facebook audience network.  On top of that, you have to have the facebook video support in your binary.  It was relatively involved and a while back, so I don't recall all the details.

[2020-04-01 01:47] huynhvanquy commented on #244
You can run and show ads test or not?

[2020-04-01 01:51] huynhvanquy commented on #243
Could you share me step by step config it or not? Because i am trying to config so it's not yet finished.
Now my device run and stop app.

[2020-04-01 05:14] Thomazella commented on #244
It doesn't build.

[2020-04-01 16:34] andy-io commented on #244
i have the same issue as well

[2020-04-01 23:56] mochi08 commented on #243
@huynhvanquy have you got yours to work?  I still haven't figured out mine yet.

Anyway, here's my steps in the setup:
** Facebook Developer **
- Create an app for my Android app in facebook developer account, which gives me the App ID
- Add Audience Network under Products
- Filled the required info, including the Goolge Play package name, Class Name (MainActivity), and key hashes (hopefully I got

[2020-04-03 16:06] RudyLu commented on #242
I was hit by this issue as well.
Does anyone know how to resolve or any way to workaround?

[2020-04-03 16:23] Suraj-Tiwari commented on #242
Just add a Blank media video without any height width. It will work.

[2020-04-04 02:26] RudyLu commented on #242
@Suraj-Tiwari, thanks for the tip.
Yes I tried to workaround as you suggested but with no luck,

[code]
Also not working when setting the width/height as 10.

--
The same code works when specifying the width/height as `50`, so I would assume my implementation is ok.

[2020-04-04 03:16] Suraj-Tiwari commented on #242
Can you please push demo code on a repo so i can have a look?

[2020-04-05 09:53] FlippingWork opened #245 "BannerView Ads Not Clickable"
I am using the latest version of this code on iOS and the BannerView ad links are not clickable... any reason?

[2020-04-05 09:57] RudyLu commented on #242
I just tried to reproduce this with `example/`, however I cannot get it running.

[2020-04-09 08:23] RudyLu commented on #242
I just created sample app that should be able to reproduce this issue,
https://github.com/RudyLu/react-native-fbads-example

@Suraj-Tiwari, could you please help give it a try?

Thanks in advance.

[2020-04-09 08:31] Suraj-Tiwari commented on #242
Sure I'll have a look

[2020-04-13 18:03] Jhonte commented on #245
https://github.com/callstack/react-native-fbads/commit/1b3d7f761a1e646f5c42ea1323158ae8763196e5 This worked for me.

[2020-04-23 01:13] shekharskamble commented on #182
any update on this? facing same issue

[2020-04-23 12:12] paddy57 commented on #168
Did you solve this ?

[2020-04-25 22:40] tmjordan commented on #245
@FlippingWork make you that your banner is not encapsulated by a TouchableOpacity component.
You must use a simple View

[2020-04-25 22:41] tmjordan commented on #245
@FlippingWork make sure you that your banner is not encapsulated by a TouchableOpacity component.
You must use a simple View

[2020-04-27 06:51] hanjjang18 commented on #244
i have save issue

[2020-04-27 07:33] kirampark commented on #244
I have an issue as well

[2020-04-27 08:08] apjinfosolution opened #246 "after installation issue"
When I run react-native project after doing all steps this issue arrive give me solution to this

     Required by:
         project :app

          - None of the consumable configurations have attributes.

[2020-04-29 03:58] apjinfosolution commented on #91
how do you solve this error?

[2020-04-29 03:59] apjinfosolution commented on #91
how did you solve this error?

[2020-04-29 04:13] apjinfosolution commented on #244
anyone find solution for this?

[2020-04-29 05:34] #246 closed

[2020-04-30 04:10] apjinfosolution commented on #224
Did you solve this problem??

[2020-04-30 08:43] hend-elsahli commented on #149
I can confirm this lagging issue ... and I guess it's because the suitable-format of native-ad that could be used without issues inside a scrollable-area is **Native Banner Ad** not  **Native Ad** ... which is not supported I think by the module

Native-Banner ads does not requires **MediaView**  inside the children tree to trigger the ad...

[(https://developers.facebook.com/docs/audience-network

[2020-04-30 09:05] hend-elsahli commented on #122
any progress on supporting Native-Banner-Ads ?

[2020-05-01 10:49] AB91189 commented on #224
Yes

On Thu, Apr 30, 2020, 9:41 AM apjinfosolution <notifications@github.com>
wrote:

[2020-05-02 15:46] ITLight commented on #244
i have same issue

[2020-05-02 22:46] hussainarthuna commented on #244
I am having the same issue

[2020-05-03 02:53] hussainarthuna commented on #246
Hello, I'm having the same issue. How did you solve it? It's would be really helpful if you could help.

[2020-05-06 02:50] wassimbrsimo commented on #91
i got the same issue

[2020-05-06 02:53] wassimbrsimo commented on #246
i do have the same issue aswell

[2020-05-07 04:13] apjinfosolution commented on #246
Just add package with yarn

[2020-05-07 04:16] apjinfosolution commented on #224
where is solution?

[2020-05-09 03:39] scaralfred commented on #244
I fixed this. Try to move these lines in => "android/settings.gradle" like this:

`rootProject.name = 'your_project_name'

apply from: file("../node_modules/@react-native-community/cli-platform-android/native_modules.gradle"); applyNativeModulesSettingsGradle(settings)

include ':react-native-fbads'
project(':react-native-fbads').projectDir = new File(rootProject.projectDir, '../node_modules/react

[2020-05-09 11:30] hussainarthuna commented on #244
I tried, but it is not working. Thank you for your reply.

[2020-05-11 20:23] Jhonte commented on #244
Same issue here as well, just upgraded to 0.62 :(

[2020-05-11 21:32] Beyazatli commented on #246
I have that same problem.
I looked at all the issues in the repo, but I could not find a solution.
Any solution?

**NodeJS**: 10.20.1
**NPM**: 6.14.4

**ReactNative FBSDK**: ^1.1.1
**ReactNative FBADS**: ^6.3.1
**React Native**: ^0.62.0

**OS**: Windows 10, 1909

Output Screenshot: https://prnt.sc/sey9rj
Output Text:
[code]

[2020-05-12 05:58] Beyazatli commented on #244
I have that same problem.
I looked at all the issues in the repo, but I could not find a solution.
Any solution?

**NodeJS**: 10.20.1
**NPM**: 6.14.4

**ReactNative FBSDK**: ^1.1.1
**ReactNative FBADS**: ^6.3.1
**React Native**: ^0.62.0

**OS**: Windows 10, 1909

Output Screenshot: https://prnt.sc/sey9rj
Output Text:
[code]

[2020-05-12 17:18] Jhonte commented on #244
No idea at all why, but changing the order and adding a `/` in the end of the path in settings.gradle seems to work for me.

[code]

[2020-05-12 17:20] hussainarthuna commented on #244
I confirm as it is working perfectly now.
Thank you so much.

[2020-05-21 12:38] grean commented on #244
Is Someone can explain why in RN 0.62 we now have to add those lines in settings.gradle in order to make the build work ?
There is no mention of those lines nor in the package readme nor in the facebook tutorials mentionned in the package readme :(
Therefore, it works well. Thanks !

[2020-05-21 15:36] Thomazella commented on #244
Yeah pretty big issue still, will try the solution suggested but IMO it's not a fix, until some official doc/version bump. If this lib isn't getting proper attention & maintenance I'd migrate away from it

[2020-05-29 01:19] Un3qual commented on #227
Did you ever find a fix for this?

[2020-05-29 12:46] grean opened #247 "Require cycle warning in console"
Error Message :
Require cycle: node_modules/react-native-fbads/dist/lib/index.js -> node_modules/react-native-fbads/dist/lib/native-ads/withNativeAd.js -> node_modules/react-native-fbads/dist/lib/index.js

Require cycles are allowed, but can result in uninitialized values. Consider refactoring to remove the need for a cycle.

Am i the only one having this messange in my console ?
Can´t find some h

[2020-05-30 15:06] ScottDikowitz commented on #172
This is a very frustrating, massive limitation of this package. I think it deserves a mention in the README.
It's unfortunate, because native facebook ads look much nicer than admob.

[2020-05-30 22:34] sbusayarat opened #248 "Interstitial is not full screen and crash"
# Bug Report

**Before opening**

- [X] Did you try the latest release?
- [X] Did you look for existing issues?

**Ad Modules**
Interstitial Ads

**Platforms**
iOS

**Versions**

- iOS: 13.4.1
- react-native-fbads: ^6.3.1
- react-native: 0.61.5

**Ads Environment**

- Facebook app installed: Yes
- Happens in test (dev build + device is marked as a test device): Yes
- Happens in production (release

[2020-06-01 06:58] scaralfred commented on #248
I also got this :(

[2020-06-02 11:25] kkusanagi commented on #244
So does this mean react-native-fbads still need `react-native link react-native-fbads`? As the linking is deprecated for RN 0.60+

[2020-06-02 16:26] Thomazella commented on #244
I don't know, luckily don't need to fix this right now

[2020-06-03 15:19] sbusayarat commented on #248
fyi, I fixed this by bumping the native library to the latest version.

In Podfile:
`pod 'FBAudienceNetwork', '5.9.0'`

[2020-06-05 20:29] aashish-choudhary commented on #244
Yes It is or you could just paste these lines at the end to settings.gradle

include ':react-native-fbads'

project(':react-native-fbads').projectDir = new File(rootProject.projectDir, '../node_modules/react-native-fbads/android/app/')

[2020-06-06 10:41] hend-elsahli commented on #243
Hey @mochi08 , did you find a solution?

[2020-06-08 13:52] LGLabGreg opened #249 "ITMS-90809: Deprecated API Usage - UIWebView"
# Bug Report

**Before opening**

- [x] Did you try the latest release?
- [x] Did you look for existing issues?

**Ad Modules**

Banner Ads

**Platforms**

iOS

**Versions**

- Android:
- iOS: 9
- react-native-fbads: 6.3.1
- react-native: 0.61.2

Hi,

I submitted my app to the app store and it was rejected with the following reason:

ITMS-90809: Deprecated API Usage - New apps that use UIWebView a

[2020-06-08 22:39] perrosnk commented on #172
To anyone looking for a partial solution, this [library](https://github.com/ammarahm-ed/react-native-admob-native-ads) seems to work at least for Android.
On iOS, Facebook seems to log approaximately 1/3 of the impression. Check this [comment](https://github.com/ammarahm-ed/react-native-admob-native-ads/issues/33#issuecomment-640923622)

[2020-06-09 12:48] LGLabGreg commented on #249
Fixed it by using FBAudienceNetwork 5.9.0, read me should be updated. With RN > 0.60 you don't even need to update the podfile.

[2020-06-09 13:30] kostiantyn-solianyk commented on #247
same here

[2020-06-09 18:33] LGLabGreg commented on #249
Btw thanks for the hard work guys, was pretty easy to fix the above and apart from that everything is working perfectly!

[2020-06-10 09:12] kostiantyn-solianyk commented on #201
same here

[2020-06-12 12:11] kostiantyn-solianyk commented on #249
Thank you @LGLabGreg saw your issue before publish with 5.1.0 version. So, I think you saved my some time.

[2020-06-15 08:14] kostiantyn-solianyk opened #250 "app getting freezing and stop responding"
After showing BannerView ad few times, app getting freezing and stop responding. IOS only.
RN - 0.60.6
react-native-fbads - 6.3.1.
Production mode.

[2020-06-23 11:55] grean commented on #240
On android the error seems to be catch but in ios the error is still there.

[2020-06-24 09:12] huzaima1298 commented on #244
i tried every solution  but nothing helped. someone solved it

[2020-06-24 09:45] huzaima1298 commented on #244
hey did something work for u?

[2020-06-24 09:50] huzaima1298 commented on #46
hey plz there is compatabilty version error in react-native fbads. with react native 0.62 its not working

[2020-06-24 10:08] oumoumadbrahim commented on #246
just downgrade react native to 0.61 works for me

[2020-06-24 19:37] Thomazella commented on #244
@huzaima1298 have not fixed it as I don't need to. Sorry I can't be of much help.

[2020-06-26 14:26] #250 closed

[2020-06-29 01:56] anujec722 opened #251 "Could not resolve project :react-native-fbads."
Failed to install the app. Make sure you have the Android development environment set up: https://reactnative.dev/docs/environment-setup. Run CLI with --verbose flag for more details.
Error: Command failed: gradlew.bat app:installDebug -PreactNativeDevServerPort=8081

FAILURE: Build failed with an exception.

* What went wrong:
Could not determine the dependencies of task ':app:compileDebugJavaWit

[2020-06-30 01:42] a26364177 commented on #182
same here
fb-ads v6.3.1
audience network v5.9.1

[2020-07-07 07:06] btb331 commented on #251
I'm having the same problems

[2020-07-12 11:37] Suraj-Tiwari commented on #251
manual linking seems to be resolving this issue, please try running `react-natiave link react-native-fbads`.

[2020-07-14 10:30] xRoGeSx commented on #251
Try going into your settings.gradle in the android folder;

Change the line

` project(':react-native-fbads').projectDir = new File(rootProject.projectDir, '../node_modules/react-native-fbads')`

To the

`project(':react-native-fbads').projectDir = new File(rootProject.projectDir, '../node_modules/react-native-fbads/android/app/')`

This fixed it for me. I am unsure, but I think the problem is wit

[2020-07-18 13:55] Vicky-SilverSky opened #253 "Not working for ios"
# Bug Report

**Before opening**

- [yes]  Did you try the latest release?
- [yes]  Did you look for existing issues?

**Ad Modules**

**Platforms**
IOS

**Versions**

- iOS:
- react-native-fbads:^6.3.1
- react-native:0.63.1

**Ads Environment**

- Facebook app installed: no as of testing on ios simulator
- Happens in test (dev build + device is marked as a test device): also tested for ios real d

[2020-07-20 12:38] tn12787 commented on #253
Same here too.

[2020-07-24 18:44] TrejoCode commented on #247
Same, any update?

[2020-08-07 03:45] iambavith commented on #251
Tried this brother.. but didn't helped :(

[2020-08-07 08:03] aarnavcurefit commented on #242
Just add <MediaView style={{ width: 1, height: 1 }} />

[2020-08-07 08:05] aarnavcurefit commented on #245
use <MediaView style={{ width: 1, height: 1 }} />

[2020-08-07 08:05] aarnavcurefit commented on #242
try this <MediaView style={{ width: 1, height: 1 }} />

[2020-08-10 19:47] serhangursoy commented on #244
For some reason on me `react-native link react-native-fbads` links to
`'../node_modules/react-native-fbads/android/` not to `'../node_modules/react-native-fbads/android/app/` which creates the main issue. Check the main path. Also changing order helped too

[2020-08-16 08:47] codesoverflow opened #254 "None of the consumable configurations have attributes."
Followed all the steps but still, it is not working.
Please check the below error, I found in the console while creating debug build.

Deprecated Gradle features were used in this build, making it incompatible with Gradle 7.0.
Use '--warning-mode all' to show the individual deprecation warnings.
See https://docs.gradle.org/6.6/userguide/command_line_interface.html#sec:command_line_warnings

FAILUR

[2020-08-30 18:29] devaar100 opened #255 "Native Ads refresh"
If we fetch 10 ads using ads manager -
1. Is it legal to switch between ads when one is already being shown or only when there is error we can show another fetched ad ?
2. After what duration can ads be swapped ?
3. If a different ad is shown after this legal duration in the same native ad container are they considered 2 impressions or 1 ?

The documentation here and on FB website say nothing abou

[2020-08-31 09:29] hend-elsahli commented on #132
Anything new ?

[2020-08-31 19:11] capslock35 opened #256 "Rewarded Video support"
Will this library support rewarded ads? if not, I may tackle with this with some help

[2020-09-07 15:17] victorvhpg opened #257 "support to Audience Network SDK 6.0.0"
Are there any plans to support Audience Network SDK 6.0.0  ?

https://developers.facebook.com/docs/audience-network/changelog-android#6_0_0

[2020-09-12 11:55] neghani commented on #244
The above solution work for me, I have no clue why is fixed at atll.

[2020-09-12 16:00] neghani commented on #243
Hey, @mochi08 did you find solution?

[2020-09-12 17:54] neghani commented on #211
![image](https://user-images.githubusercontent.com/3122399/93001751-08f95180-f54f-11ea-8bf1-c74c23e398c5.png)
The highlighted could be reason for ads not displaying, I am gonna wait till go to production and post the update here.

[2020-09-20 12:46] adeel111 opened #258 "Integration issues in react native version 0.63.2"
# Bug Report

**Before opening**

- [Yes] Did you try the latest release?
- [Yes] Did you look for existing issues?

**Platforms**

Android (issue):  Unable to find a matching configuration of project :react-native-fbsdk
iOS (issue):  Framework not found FBSDKCoreKit

**Versions**

- Android: 27
- iOS: 13.0
- react-native-fbads: 6.3.1
- react-native: 2.0.0

**Current Behaviour**

App is not runnin

[2020-09-24 20:43] abudhia-oyo commented on #253
anyone managed to solve this?

[2020-09-26 07:22] Vicky-SilverSky commented on #253
try **pod 'FBAudienceNetwork','5.7.0'** instead of pod 'FBAudienceNetwork', '~> 5.1.0' specified in documentation

[2020-09-28 18:14] abudhia-oyo commented on #253
@Vicky-SilverSky I don't think that's really possible with managed workflow, right? We will have to eject expo. Am I correct?

[2020-09-28 18:18] Vicky-SilverSky commented on #253
I haven't tried on expo you can try with ejecting from expo

On Mon, Sep 28, 2020, 23:44 abudhia-oyo <notifications@github.com> wrote:

[2020-10-04 09:47] tmjordan commented on #241
Hey @Pingou , i have exactly the same problem. Did you find a solution or any workaround? Thanks for your help

[2020-10-04 10:09] Pingou commented on #241
@tmjordan Unfortunately no, as I removed fb ads in my apps for unrelated reasons.

[2020-10-05 17:25] hussain5233 commented on #251
+1

[2020-10-10 19:53] SaGaR1084 opened #259 "Could not resolve project :react-native-fbads"
"react": "16.13.1",
 "react-native": "0.63.2",
 "react-native-fbads": "^6.3.1",
 "react-native-fbsdk": "^2.0.0",

show me this error after install:- `yarn add react-native-fbads`

<img width="575" alt="Screenshot 2020-10-11 at 1 19 52 AM" src="https://user-images.githubusercontent.com/34228088/95663863-4528cd80-0b60-11eb-8e9c-3e24df6ff67a.png">

[2020-10-14 13:35] whalemare commented on #257
Any comments here from authors, maybe?

[2020-10-19 08:13] Tahriff commented on #256
Anything new on this topic ? I would definitely be interested in seeing rewarded ads on that library. Might be able to give you a hand a well.